<app-header *ngIf="!authService.estaActivo()"></app-header>
<app-header-logueado *ngIf="authService.estaActivo()"></app-header-logueado>

<div class="containerMiga" *ngIf="plan">
    <app-miga-de-pan [planNombre]="plan.nombre_planV" id="miga"></app-miga-de-pan>
</div>

<div class="primera">
    <div class="containerIzq">
        <app-plan-view-images id="bordeImg"></app-plan-view-images>
        <app-card-calification id="qualify"></app-card-calification>
    </div>
    <div class="containerDer">
        <app-collage-view [images]="restOfImages"></app-collage-view>
        <div class="containerText">
            <p id="tittle">{{ plan.nombre_planV }}</p>
            <p id="info">{{ plan.descripcion }}</p>
        </div>
    </div>
</div>

<div class="segunda">
    <div class="pricesTable">
        <app-prices-table-plan id="precios"></app-prices-table-plan>
        <div class="addressContainer">
            <app-map class="map"></app-map>
            <p>{{plan.municipio_planV}},{{ plan.ubicacion_planV }}</p>
        </div>
    </div>
</div>

<div class="cuarta">
    <div class="titleReserva"><figure class="linech"></figure><p class="section-title">Reserva e información</p><figure class="linech"></figure></div>
    <div class="contenido">
        <div class="containerPersona">
            <app-peopple-count-info 
                imageUrl="../../../../../assets/icons/hombre 1.png" 
                title="Adultos" 
                description="Personas mayores a 14 años empiezan a pagar precio de adulto" 
                id="persona" 
                (countChange)="onAdultCountChange($event)">
            </app-peopple-count-info>
            <app-peopple-count-info 
                imageUrl="../../../../../assets/icons/nino.png" 
                title="Niños" 
                description="Personas menores a 14 años pueden pagar precio de niño" 
                id="persona" 
                (countChange)="onChildCountChange($event)">
            </app-peopple-count-info>
        </div>
        <div class="recuadroPrecio">
            <app-button  class="button" label="Continuar con la reserva" color="#275843" [routerLink]="['/paymentformplan', plan.id_planV]"></app-button>
        </div>
    </div>
</div>

<div class="quinta">
    <div class="encargado">
        <p class="titlequinta">Conoce al encargado del chalet</p>
        <app-chalet-plan-attendant></app-chalet-plan-attendant>
    </div>
    <div class="comunicacion">
       <app-communication-attendant></app-communication-attendant>
    </div>
</div>

<section class="comentarios">
   <div class="titlecom"><figure></figure><h2>Comentarios y calificaciones</h2><figure></figure></div>
   <section class="containerform">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class="commentheader">
                <div class="profileCommentsHeader">
                    <img class="profilecomment" [src]="user.image" alt="">
                    <div>
                        <p>{{user.name}} {{user.lastName}}</p>
                    </div>
                    <div class="bordername"></div>
                </div>
                <input class="commentInput" type="text" id="comment" placeholder="Agrega un comentario..." (click)="mostrarBotones()" [formControlName]="'opinion'">
            </div>
            
            <div class="calificacion">
                <app-calification-card *ngIf="botones === true" (ratingChange)="onRatingChange($event)"></app-calification-card>
            </div>
            <div class="buttons">
                <app-button id="publish" *ngIf="botones === true" label="Publicar" (click)="openWarningAlert()"></app-button>
                <app-button *ngIf="botones === true" label="Cancelar" color="red" (click)="ocultarBotones()"></app-button>
            </div>
        </form>
    </section>
        <div class="filter">
            <select name="filtrocomentarios" id="filtercomments">
                <option value="value1">Todos los comentarios</option>
                <option value="value2">Comentarios positivos</option>
                <option value="value3">Comentarios negativos</option>
            </select>
        </div>
        <div class="emptyState" *ngIf="comments.length<=0">
            <div class="containerChaplanito">
                <p id="ono">¡Vaya!</p>
                <img src="../../../../../assets/images/chaplanitoreservas.jpeg" alt="">
                <div class="contenedorNoTienes">
                    <p id="noTienesClientes">Aún no hay comentarios para este plan vacacional</p>
                </div>
            </div>
        </div>
        <div class="todoscomentarios" *ngIf="comments.length>0">
             <app-comment *ngFor="let comment of comments;let i = index"></app-comment>
        </div>
        <app-loader *ngIf="isLoading"></app-loader>
        <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo realizar el registro de tu comentario" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
        <app-messages-warning title="¡No tan rápido!" paragraph="Revisa bien tu comentario antes de publicarlo, ¿Estás seguro de publicarlo"  *ngIf="isWarningAlertOpen" (confirm)="onConfirmModal()" (close)="closeWarningAlert()"></app-messages-warning>
        <app-messages-succesful title="Su comentario se registro exitosamente" *ngIf="isUpdateSuccessAlertOpen" (close)="closeUpdateSuccessAlert()"></app-messages-succesful>
</section>

<app-footer></app-footer>