.containerUsers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    gap: 64px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.containerChaplanito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .containerChaplanito #ono{
    font-weight: bold;
    font-size: 76px;
    color: #8D8D8D;
  }
  
  .contenedorNoTienes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .contenedorNoTienes #noTienesClientes{
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 36px;
    color: #8D8D8D;
    font-weight: 500;
    justify-content: center;
  }
  
  .containerChaplanito img{
    width: 300px;
  }
  
  .emptyState{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }