<div class="containerCalification">
    <div class="calification">
        <p>5</p>
        <div class="calificationBar"></div>
    </div>
    <div class="calification">
        <p>4</p>
        <div class="calificationBar"></div>
    </div>
    <div class="calification">
        <p>3</p>
        <div class="calificationBar"></div>
    </div>
    <div class="calification">
        <p>2</p>
        <div class="calificationBar"></div>
    </div>
    <div class="calification">
        <p>1</p>
        <div class="calificationBar"></div>
    </div>
</div>