.containerCalification{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.containerCalification p{
    color: white;
    padding-right: 8px;
    font-size: 8px;
}

.calificationBar{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: #418E6D;
}

.calification{
    display: flex;
    align-items: center;
    justify-content: center;
}