<div class="emptyState" *ngIf="recommendeds.length<=0">
    <div class="containerChaplanito">
        <p id="ono">Ooops!</p>
        <img src="../../../../../assets/images/chaplanitoreservas.jpeg" alt="">
        <div class="contenedorNoTienes">
            <p id="noTienesClientes">Aún no tenemos recomendaciones para ti</p>
        </div>
    </div>
</div>
<div class="recommended-container" *ngIf="recommendeds.length>0">
    <app-recommended-card *ngFor="let recommended of recommendeds;let i = index" [recommended]="recommended"></app-recommended-card>
</div>
