<div class="card">
    <a class="card-iterator">
        <div class="container-img" [routerLink]="['/chalet-details', chalet.id]"> 
            <img class="imgCard" src="{{chalet.imgPrincipal}}"> 
        </div>
    <app-title-card [chalet]="chalet" class="title"></app-title-card>
    <div class="info">
        <div>
            <app-button (click)="openWarningAlert(chalet.id)" type="button" label="Activar" color="#275843"></app-button>
            <app-messages-succesful title="El chalet se activo correctamente" *ngIf="isUpdateSuccessAlertOpen" (close)="closeUpdateSuccessAlert()"></app-messages-succesful>
	        <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo activar el chalet" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
		    <app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de activar este chalet?" *ngIf="isWarningAlertOpen" (confirm)="onConfirmModal()" (close)="closeWarningAlert()"></app-messages-warning>
        </div>
        <div>
            <app-button (click)="openWarningAlert2(chalet.id)" label="Desactivar" color="#BF3434" type="button"></app-button>
            <app-messages-succesful title="El chalet se desactivo correctamente" *ngIf="isUpdateSuccessAlertOpen2" (close)="closeUpdateSuccessAlert2()"></app-messages-succesful>
	        <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo desactivar el chalet" *ngIf="isErrorAlertOpen2" (close)="closeErrorAlert2()"></app-messages-error>
		    <app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de desactivar este chalet?" *ngIf="isWarningAlertOpen2" (confirm)="onConfirmModal2()" (close)="closeWarningAlert2()"></app-messages-warning>
            <app-loader *ngIf="isLoading"></app-loader>
        </div>
    </div>
</a>
</div>