.chaletContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.reservation-paintings {
  margin-top: 60px;
  margin-left: 200px;
  position: absolute;
  z-index: 10;
}

.imgChalet {
  height: 500px;
  margin-left: 450px;
  z-index: 1;
}
.section-title {
  font-weight: 600;
  font-size: 22px;
  margin-right: 20px;
  text-align: center; 
}

.title {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 36px;
  margin-top: 32px;
}

.title figure {
  height: 1px;
  background-color: #418E6D;
  width: 900px; 
}

.line2 {
  margin: 0 5px;
}
.titlePrincipal{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.line3 {
  width: 450px;
  height: 1.5px;
  background-color: #90b4a0; 
  margin: 0 15px;

}

.section-title2 {
  font-size: 24px; 
  font-weight: bold;
  margin: 0;
  color: #000; 
 
}

@media (min-width: 769px) and (max-width: 920px) {

  .reservation-paintings{
    margin-top: 40px;
    margin-left: 50px;
  }
    
  .imgChalet {
    width: 550px;
    height: 450px;
    margin-left: 250px;
  }
  
  .titlePrincipal{
    font-size: 24px;
    margin-top: 16px;
  }
  .principalTitle {
    font-size: 28px;
    margin: 15px 0;
}
.section-title{
  font-size: 20px;
  margin-left: 20px;
}
.title{
  width: auto;
}
.section-title2 {
    font-size: 20px;
    text-align: center;
}
}

@media (max-width: 768px){
  .chaletContainer{
    height: 400px;
  }
  .reservation-paintings{
    margin-top: 30px;
    margin-left: 20px;
  }
    
  .imgChalet {
    width: 400px;
    height: 380px;
    margin-left: 100px;
  }
  .principalTitle {
    font-size: 20px;
    margin: 10px 0;
}
.titlePrincipal{
  margin-top: 1px;
}
.section-title{
  font-size: 16px;
  margin-left: 20px;
}
.title{
  width: auto;
}

.section-title2 {
    font-size: 20px;
    text-align: center;

}
}

@media (min-width: 352px) and (max-width: 480px) {
  .reservation-paintings{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 100%; 
  }

  .imgChalet {
      width: 340px;
      height: 360px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  .principalTitle {
    font-size: 20px;
    margin: 8px 0;
}

.section-title {
    font-size: 16px;
}

.section-title2 {
    font-size: 16px;
    text-align: center;
}
}
