input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.300);
    width: 375px;
    background-color: transparent;
    height: 35px;
    margin-right: 15px;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.650);
}

@media (min-width: 352px) and (max-width: 480px) {
    input{
        width: 100%;
    }
}