<div class="containerPrecio">
    <p id="tittleType">Tipo de habitacion:</p>
    <p>Habitacion sencilla</p>
    <div class="sumaPersonas">
        <div class="adultos">
            <p id="persona">adultos:</p>
            <p>$450.000</p>
        </div>
        <p id="suma">+</p>
        <div class="niños">
            <p id="persona">Niños:</p>
            <p>$321.000</p>
        </div>
    </div>
    <div class="finalPrice">
        <p id="precio">Valor final: $1.300.000</p>
        <div class="value">
            <p>Valor x noche</p>
        </div>
    </div>
</div>