.location-container {
  background-color: #D9D9D9;
  padding: 10px; 
  border-radius: 10px; 
  max-width: 310px; 
  margin: 0 auto; 
  text-align: left;
}

.location-container label {
  font-size: 12px; 
  font-weight: bold; 
  color: #000000; 
  display: block; 
  margin-bottom: 5px; 
}

.location-input {
  font-size: 14px; 
  color: #888888; 
  border: none; 
  background-color: transparent; 
  width: 320px; 
  outline: none; 
}
