<app-nav></app-nav>
<app-profile-welcome></app-profile-welcome>
<form class="formulario" [formGroup]="chaletForm" (ngSubmit)="onSubmit()">
<div class="containerFormulario">
    <h2 class="title">Registrar chalet</h2>
    <div class="parte1">
        <div class="uno">
          <div class="formField">
            <label for="nombre">Nombre del chalet</label>
            <input id="nombre" placeholder="Ingresa el nombre de tu chalet" class="nombrechalet" type="text" [formControlName]="'nombre'">
            <div *ngIf="chaletForm.get('nombre')?.invalid && chaletForm.get('nombre')?.touched" class="error-message">
              El nombre del chalet es requerido.
            </div>
          </div>
          <div class="formField">
            <label for="municipio">Municipio</label>
            <input id="municipio" #municipioInput placeholder="Ingresa el municipio" class="nombrechalet" type="text" [formControlName]="'municipio'">
            <div *ngIf="chaletForm.get('municipio')?.invalid && chaletForm.get('municipio')?.touched" class="error-message">
              El municipio debe ser uno de los permitidos.
            </div>
          </div>
          <div class="formField">
            <label for="direccion">Dirección</label>
            <input id="direccion" #direccionInput placeholder="Ingresa la ubicación de tu chalet" type="text" class="direccionInput" [formControlName]="'ubicacion'">
            <div *ngIf="chaletForm.get('ubicacion')?.invalid && chaletForm.get('ubicacion')?.touched" class="error-message">
              La dirección es requerida.
            </div>
          </div>
            <div class="containerButtonVerify">
              <button class="buttonVerify" type="button" (click)="verificarUbicacion(direccionInput.value, municipioInput.value)">Verificar Ubicacion</button>
            </div>
            <label for="" class="titleView">Visualizar dirección</label>
            <app-map class="map"></app-map>
        </div>
        <div class="columnaImagen">
            <img class="imgPrincipal" [src]="previsualizacion" alt="">
                <input accept=".png, .jpg, .jpeg, .webp" (change)="capturarFile($event)" type="file" name="file-1" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
                <label for="file-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                <span class="iborrainputfile">Seleccionar archivo</span>
                </label>
        </div>
    </div>
    <div class="parte2">
        <label for="descripcion">Descripción del chalet</label>
        <input id="descripcion" placeholder="Ingresa una descripción de tu chalet" class="description" type="text" [formControlName]="'descripcion'">
        <div *ngIf="chaletForm.get('descripcion')?.invalid && chaletForm.get('descripcion')?.touched" class="error-message">
          La descripción es requerida y no puede exceder los 500 caracteres.
        </div>
    </div>
    <figure class="borde1"></figure>
    <div class="parte3">
        <h2 class="title">Ventajas y servicios</h2>
        <div class="ventajascontainer1">
            <app-ventaja-servicio class="ventaja" label="Parrilla" imagen="../../../../../assets/icons/barbacoa.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio class="ventaja" label="Restaurante" imagen="../../../../../assets/icons/restaurante.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio  label="Jacuzzi" imagen="../../../../../assets/icons/jacuzzi.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer2">
            <app-ventaja-servicio class="ventaja" label="Piscina" imagen="../../../../../assets/icons/piscina.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio label="Permite mascotas" imagen="../../../../../assets/icons/huella.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer3">
            <app-ventaja-servicio class="ventaja" label="Paseos a caballo" imagen="../../../../../assets/icons/equitacion 2.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio class="ventaja" label="Puntos deportivos" imagen="../../../../../assets/icons/deportivos.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio label="Parqueadero" imagen="../../../../../assets/icons/estacionamiento.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer4">
            <app-ventaja-servicio class="ventaja" label="Servicios para bebé" imagen="../../../../../assets/icons/bebes.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio label="Senderismo y montañismo" imagen="../../../../../assets/icons/hombre-en-caminata.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer5">
            <app-ventaja-servicio class="ventaja" label="Acceso a conexión wi-fi" imagen="../../../../../assets/icons/wifi.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio class="ventaja" label="Espacios libres de humo" imagen="../../../../../assets/icons/no-fumar.svg" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
            <app-ventaja-servicio label="Fogata" imagen="../../../../../assets/icons/fogata.png" (servicioSeleccionado)="actualizarServicio($event)"></app-ventaja-servicio>
        </div>
    </div>
    <figure class="borde1"></figure>
    <div class="parte4">
        <h2 class="title">Imagenes de referencia</h2>
        <div class="img1">
            <img class="image1" [src]="previsualizacion2" alt="">
            <input accept=".png, .jpg, .jpeg, .webp" (change)="capturarFile2($event)" type="file" name="file-2" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
            <label for="file-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                <span class="iborrainputfile">Seleccionar archivo</span>
            </label>
        </div>
        <div class="img2y3">
            <div class="img2">
                <img class="image2" [src]="previsualizacion3" alt="">
                <input accept=".png, .jpg, .jpeg, .webp" (change)="capturarFile3($event)" type="file" name="file-3" id="file-3" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
                <label for="file-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    <span class="iborrainputfile">Seleccionar archivo</span>
                </label>
            </div>   
            <div class="img3">
                <img class="image3" [src]="previsualizacion4" alt="">
                <input accept=".png, .jpg, .jpeg, .webp" (change)="capturarFile4($event)" type="file" name="file-4" id="file-4" class="inputfile inputfile-1" data-multiple-caption="{count} archivos seleccionados" multiple />
                <label for="file-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
                    <span class="iborrainputfile">Seleccionar archivo</span>
                </label>
            </div>
        </div>
    </div>
    <figure class="borde1"></figure>
    <form [formGroup]="tarifasform" class="parte5">
      <h2 class="title">Tarifas y tipos de habitaciones</h2>
      <div class="headerfield">
        <h3 class="subtitle">Ingresa tus tarifas</h3>
      </div>
      <div class="field">
        <div class="inputContainer">
          <label for="precio">Precio</label>
          <input
            placeholder="Ingresa el precio"
            id="precio"
            class="inputHab"
            type="text"
            formControlName="precio"
          />
        </div>
        <div class="inputContainer">
          <label for="temporada">Temporada</label>
          <select
            name="temporada"
            class="inputHab"
            id="temporada"
            formControlName="temporada"
          >
            <option value="Selecciona la temporada" disabled selected hidden>Selecciona la temporada</option>
            <option value="Alta">Alta</option>
            <option value="Baja">Baja</option>
          </select>
        </div>
        <div class="inputHabtype">
          <div class="inputContainer2">
            <label for="tipohab">Tipo</label>
            <select
              name="tipohab"
              class="inputHab2"
              id="tipohab"
              formControlName="tipohabitacion"
            >
              <option value="Selecciona el tipo de habitación" disabled selected hidden>Selecciona el tipo de habitación</option>
              <option value="Habitación sencilla">Habitación sencilla</option>
              <option value="Habitación doble">Habitación doble</option>
              <option value="Habitación cuadruple">Habitación cuadruple</option>
              <option value="Pasadía">Pasadía</option>
              <option value="Ocupación completa">Ocupación completa</option>
            </select>
          </div>
        </div>
        <button type="button" (click)="guardarTarifa()" class="saveFee">Guardar Tarifa</button>
      </div>
    
      <div formArrayName="tarifas" class="listaTarifas">
        <h4>Tarifas Agregadas:</h4>
        <ul>
          <li *ngFor="let tarifa of tarifasControls; let i = index">
            <span class="feeInfo">{{ tarifa.get('tipohabitacion')?.value }} - {{ tarifa.get('precio')?.value }} - {{ tarifa.get('temporada')?.value }}</span>
            <button class="deleteFee" type="button" (click)="eliminarTarifa(i)">
              <img src="../../../../../assets/icons/bote-de-basura.png" alt="Eliminar" />
            </button>
          </li>
        </ul>
      </div>
    </form>            
    <app-button class="button" label="Registrar" type="button" (click)="openWarningAlert()"></app-button>
    <app-messages-succesful title="Su chalet se registro exitosamente, por favor espere confirmacion del administrador" *ngIf="isUpdateSuccessAlertOpen" (close)="closeUpdateSuccessAlert()"></app-messages-succesful>
					<app-messages-error title="¡Hubo un problema!" paragraph="No se pudo realizar el registro ni enviar los correos, verifique bien los datos" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
					<app-messages-error title="¡Ooops!" paragraph="Parece que hubo un problema al cargar tus datos y enviar los correos" *ngIf="isErrorAlertOpen2" (close)="closeErrorAlert2()"></app-messages-error>
					<app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de los datos que ingresaste?" *ngIf="isWarningAlertOpen" (confirm)="onConfirmModal()" (close)="closeWarningAlert()"></app-messages-warning>
</div>
</form>
