<app-header></app-header>
<section class="formulario">
<app-profile-aside class="aside"></app-profile-aside>
<div class="containerFormulario">
    <h2 class="title">Registrar chalet</h2>
    <div class="parte1">
        <div class="uno">
            <label for="">Nombre del chalet</label>
            <input class="nombrechalet" type="text">
            <label for="">Dirección</label>
            <div class="direccion">
            <app-button label="Añadir direccion"></app-button>
            </div>
        </div>
        <div>
            <img class="imgPrincipal" src="../../../../../assets/images/emptyimage.png" alt="">
        </div>
    </div>
    <div class="parte2">
        <label for="">Descripción del chalet</label>
        <input class="description" type="text">
    </div>
    <figure class="borde1"></figure>
    <div class="parte3">
        <h2 class="title">Ventajas y servicios</h2>
        <div class="ventajascontainer1">
            <app-ventaja-servicio class="ventaja" label="Parrilla" imagen="../../../../../assets/icons/barbacoa.svg"></app-ventaja-servicio>
            <app-ventaja-servicio class="ventaja" label="Restaurante" imagen="../../../../../assets/icons/restaurante.svg"></app-ventaja-servicio>
            <app-ventaja-servicio  label="Jacuzzi" imagen="../../../../../assets/icons/jacuzzi.svg"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer2">
            <app-ventaja-servicio class="ventaja" label="Piscina" imagen="../../../../../assets/icons/piscina.svg"></app-ventaja-servicio>
            <app-ventaja-servicio label="Permite mascotas" imagen="../../../../../assets/icons/huella.svg"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer3">
            <app-ventaja-servicio class="ventaja" label="Paseos a caballo" imagen="../../../../../assets/icons/equitacion 2.svg"></app-ventaja-servicio>
            <app-ventaja-servicio class="ventaja" label="Puntos deportivos" imagen="../../../../../assets/icons/deportivos.svg"></app-ventaja-servicio>
            <app-ventaja-servicio label="Parqueadero" imagen="../../../../../assets/icons/estacionamiento.svg"></app-ventaja-servicio>
        </div>
        <div class="ventajascontainer4">
            <app-ventaja-servicio class="ventaja" label="Servicios para bebé" imagen="../../../../../assets/icons/bebes.svg"></app-ventaja-servicio>
            <app-ventaja-servicio label="Senderismo y montañismo" imagen="../../../../../assets/icons/hombre-en-caminata.svg"></app-ventaja-servicio>
        </div>
    </div>
</div>
</section>
