.containerMiga{
    display: flex;
    width: max-content;
}

.miga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.miga p{
    padding-right: 3px;
}

.miga #verdes{
    color: #418E6D;
}