.containerMiga{
    display: flex;
    width: max-content;
}

.miga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.miga p{
    padding-right: 3px;
}

.miga #verdes{
    color: #418E6D;
}

@media (min-width: 352px) and (max-width: 480px) {
    .containerMiga{
        padding: 9px 0px 0px 13px;
        font-size: 12px;
    }
}