<app-profile-header></app-profile-header>
<app-profile-welcome></app-profile-welcome>
<div class="buttonAdd">
    <button 
      class="btnGeneral"
      (click)="handleClick()"
      [disabled]="estaDeshabilidato"
      routerLink="/create-plan">
      <img src="../../../../../assets/icons/add.svg" alt="Add" class="btnIcon">
      <span>Añadir plan</span>
    </button>
  </div>
  <div class="containerCards">
    <app-card-plan *ngFor="let plan of planes; let i = index" [plan]="plan" class="card"></app-card-plan>
  </div>
  <div class="emptyState" *ngIf="planes.length<=0">
    <div class="containerChaplanito">
        <p id="ono">¡Vaya!</p>
        <img src="../../../../../assets/images/chaplanitoreservas.jpeg" alt="">
        <div class="contenedorNoTienes">
            <p id="noTienesClientes">Parece que aún no has creado planes</p>
        </div>
    </div>
</div>



  