.terms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms a{
    color: #418E6D;
    margin-right: 3px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 8px;
    color: #333;
    transition: color 0.3s;
  }
  
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }
  
  .custom-checkbox .checkmark {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
    transform-style: preserve-3d;
  }
  
  .custom-checkbox .checkmark::before {
    content: "\2713";
    color: transparent;
    transition: color 0.3s, transform 0.3s;
  }
  
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #418E6D;
    border-color: #418E6D;
    transform: scale(1.1) rotateZ(360deg) rotateY(360deg);
  }
  
  .custom-checkbox input[type="checkbox"]:checked + .checkmark::before {
    color: #fff;
    padding-top: 1px;
    font-size: 2px;
  }
  
  .custom-checkbox:hover {
    color: #666;
  }
  
  .custom-checkbox:hover .checkmark {
    border-color: #666;
    background-color: #f0f0f0;
    transform: scale(1.05);
  }
  
  .custom-checkbox input[type="checkbox"]:focus + .checkmark {
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .custom-checkbox .checkmark,
  .custom-checkbox input[type="checkbox"]:checked + .checkmark {
    transition: background-color 1.3s, border-color 1.3s, color 1.3s, transform 0.3s;
  }