<div class="register">
  <div class="background">
    <div class="form-container">
      <div class="form-header">
        <img routerLink="/micuenta" src="../../../assets/icons/flechas-register-login-devolver.png" alt="">
      </div>
      <h1>Bienvenidos</h1>
      <img id="logo" src="../../../assets/images/logo.png" alt="">
      <div class="containerFirstText">
        <p>Cambiar contraseña</p>
      </div>
      <div class="form">
        <form [formGroup]="changeForm" class="containerForm" (ngSubmit)="onSubmit()">
          <div class="containerFirst">
            <div class="left">
              <div class="containerCamp" [ngClass]="{'error': isFieldInvalid('password')}">
                <label for="document">Nueva contraseña</label>
                <input type="password" id="formInput" placeholder="Ingresa tu nueva contraseña" formControlName="password" class="password">
                <div *ngIf="isFieldInvalid('password') && changeForm.get('password')?.errors?.['required']" class="error-message">La contraseña es requerida</div>
                <div *ngIf="isFieldInvalid('password') && changeForm.get('password')?.errors?.['minlength']" class="error-message">La contraseña debe tener al menos 8 caracteres</div>
              </div>
              <div class="containerCamp" [ngClass]="{'error': isFieldInvalid('confirmPassword')}">
                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" id="formInput" placeholder="Repite tu nueva contraseña" formControlName="confirmPassword" class="confirmPassword">
                <div *ngIf="isFieldInvalid('confirmPassword') && changeForm.get('confirmPassword')?.errors?.['passwordsDontMatch']" class="error-message">
                  Las contraseñas deben coincidir
                </div>
              </div>
            </div>
          </div>
          <div class="containerBtn">
            <app-button type="button" (click)="openWarningAlert()" label="Cambiar contraseña"></app-button>
            <app-messages-succesful title="Su cambio de contraseña fue exitoso" *ngIf="isAlertOpen" (close)="closeAlert()"></app-messages-succesful>
            <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo realizar el cambio" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
            <app-messages-warning 
              title="¡No tan rápido!" 
              paragraph="¿Estás seguro de que esta sea tu nueva contraseña?" 
              *ngIf="isWarningAlertOpen" 
              (confirm)="onConfirmModal()" 
              (close)="closeWarningAlert()">
            </app-messages-warning>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
