<div class="register">
    <div class="background">
        <div class="form-container">
            <div class="form-header">
                <img routerLink="/" src="../../../assets/icons/flechas-register-login-devolver.png" alt="">
            </div>
            <h1>Bienvenidos</h1>
            <img id="logo" src="../../../assets/images/logo.png" alt="">
            <div class="containerFirstText">
                <p>Cambiar contraseña</p>
            </div>
            <div class="form">
                <form [formGroup]="changeForm" class="containerForm" (ngSubmit)="onSubmit()">
                    <div class="containerFirst">
                        <div class="left">
                            <div class="containerCamp" [ngClass]="{'error': isFieldInvalid('password')}">
                                <label for="document">Nueva contraseña</label>
                                <input type="password" id="formInput" placeholder="Ingresa tu nueva contraseña" formControlName="password" class="password">
                                <div *ngIf="isFieldInvalid('password')" class="error-message">Debes ingresar una contraseña valida</div>
                            </div>
                            <div class="containerCamp" [ngClass]="{'error': isFieldInvalid('confirmPassword')}">
                                <label for="">Confirmar contraseña</label>
                                <input type="password" id="formInput" placeholder="Repite tu nueva contraseña" formControlName="confirmPassword" class="confirmPassword">
                                <div *ngIf="isFieldInvalid('confirmPassword')" class="error-message">Las contraseñas deben coincidir</div>
                            </div>
                        </div>
                    </div>
                    <div class="containerBtn">
                        <app-button (click)="openWarningAlert()" label="Cambiar contraseña"></app-button>
                        <app-messages-succesful title="Se ha registrado correctamente" *ngIf="isAlertOpen" (close)="closeAlert()"></app-messages-succesful>
                        <app-messages-error title="¡Hubo un problema!" paragraph="No se puedo registrar" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
                        <app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de que esta sea tu nueva contraseña?" *ngIf="isWarningAlertOpen" (close)="closeWarningAlert()"></app-messages-warning>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>

