.profile{
    display: flex;
    width: 100vw;
}

.containerFirst {
    display: flex;
    background-color: #d5e7db;
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    height: max-content;
}
.welcome{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    margin-left: 30px;
}
#tittle{
    font-size: 36px;
    font-weight: 500;
    width: max-content;
}
#tittleWelcome{
    font-size: 16px;
    width: max-content;
}

.logOut{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.logOut button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #275843;
    background-color: #275843;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.logOut button img{
    width: 20px;
    margin-right: 8px;
}
.profile{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.profilediv{
    display: flex;
    width: 85%;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 1px solid #418E6D;
}

.containerInicioData{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.active{
    padding: 0px 18px 10px 18px;
    border-bottom: 3px solid #275843;
}

.containerProfile p{
    margin-left: 16px;
}


.containerInicio{
   display: flex;
   width: 25%;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-bottom: 10px;
}

.containerInicio p{
    width: max-content;
}

.photo{
    display: flex;
    margin-left: 20px;
}

.inputfile-1 + label {
    color: #fff;
    background-color: #275843;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #275843;
}

.container-input {
    text-align: center;
    background: #282828;
    border-top: 5px solid #275843;
    padding: 50px 0;
    border-radius: 6px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:12px; 
	font-weight:normal;
}

.profilephoto{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

@media (min-width: 769px) and (max-width: 920px){
    .logOut button{
        width: auto;
        padding: 10px;
    }
}

@media (min-width: 352px) and (max-width: 480px){
    .containerFirst{
        flex-direction: column;
    }

    .photo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
    }

    .welcome{
        margin-left: 0px;
        width: 100%;
        align-items: center;
    }

    .logOut{
        justify-content: center;
    }

    .profilediv{
        width: 100%;
    }

    .containerInicio p{
        font-size: small;
        text-align: center;
    }

    .containerInicio{
        width: 25%;
        margin: 5px;
    }

    .containerInicioData{
        width: 25%;
        margin: 5px;
    }

    .containerInicioData p{
        font-size: small;
        text-align: center;
    }

    .containerInicioData #datos{
        padding: 0px;
        border-bottom: 1px solid #275843;
    }
}