<div class="container">
    <div class="part1">
        <p class="paragraph">Añadido el {{fechaRegistro_chalet}}</p>
        <p>0 comentarios</p>
    </div>
    <div class="separator"></div>
    <div class="part2">
      <button class="button1" [routerLink]="['/edit-chalet', chalets[0].id_chalet]">Editar mi chalet</button>
      <button (click)="openWarningAlert(chalets[0].id_chalet)" class="button2" type="button">Eliminar chalet</button>
      <app-messages-succesful title="El chalet se elimino correctamente" *ngIf="isUpdateSuccessAlertOpen" (close)="closeUpdateSuccessAlert()"></app-messages-succesful>
	    <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo eliminar el chalet" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
		<app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de eliminar este chalet?" *ngIf="isWarningAlertOpen" (confirm)="onConfirmModal()" (close)="closeWarningAlert()"></app-messages-warning>
    </div>
  </div>
  