<div class="containerFirst">
	<div class="photo">
		<img class="profilepic" [src]="user?.image" alt="">
		<div class="welcome">
			<p id="tittle">Hola, {{user?.name}}</p>
			<p id="tittleWelcome">te damos la bienvenida a tu perfil</p>
		</div>
	</div>
	<div class="logOut">
		<button routerLink="/" (click)="authService.logout()"><img src="../../../assets/icons/out.svg" alt="">Cerrar sesion</button>
	</div>
</div>
<div class="profile">
	<div class="profilediv">
		<div class="containerInicioData">
			<p routerLink="/micuenta" routerLinkActive="active">Datos personales</p>
		</div>
		<div class="containerInicio">
			<p routerLink="/misplanesvacacionales" routerLinkActive="active">Mis planes vacacionales</p>
		</div>
		<div class="containerInicio">
			<p routerLink="/mischalets" routerLinkActive="active">Mis chalets</p>
		</div>
		
	</div>
</div> 