<div class="card">
    <a class="card-iterator" [routerLink]="openDetails(chalet)">
        <div class="container-img"> 
            <img class="imgCard" src="{{chalet.imgPrincipal}}"> 
            <app-favorite-icon class="icon"></app-favorite-icon>
        </div>
    <app-title-card [chalet]="chalet" class="title"></app-title-card>
    <div class="info">
        <app-calification-card></app-calification-card>
        <div>
            <app-ubication-card [chalet]="chalet"></app-ubication-card>
        </div>
    </div>
</a>
</div>