<div class="containerCountClient">
    <app-count-peopple></app-count-peopple>
    <div class="containerText">
        <p id="tittle">adultos</p>
        <p>Personas mayores a 14 años empiezan a pagar precio de aulto</p>
    </div>
    <div class="containerButtonsCount">
        <div class="buttonMinum">
            <app-button-plus-minum></app-button-plus-minum>
        </div>
        <p>2</p>
        <div class="buttonMore">
            <app-button-plus-more></app-button-plus-more>
        </div>
    </div>
</div>