<div class="containerCountClient">
    <div class="icontext">
        <div class="containerIcon">
            <img id="imgIcon" src="{{imageUrl}}" alt="">
        </div>
        <div class="containerText">
            <div class="text">
                <p id="tittle">{{title}}</p>
                <p id="description">{{description}}</p>
            </div>
        </div>
    </div>
    <div class="containerButtonsCount">
        <div class="buttonMinum">
            <app-button-plus-minum (click)="decrement()"></app-button-plus-minum>
        </div>
        <p>{{personCounter}}</p>
        <div class="buttonMore">
            <app-button-plus-more (click)="increment()"></app-button-plus-more>
        </div>
    </div>
</div>