<div class="containerCountClient">
    <div class="containerIcon">
        <img id="imgIcon" src="{{imageUrl}}" alt="">
    </div>
    <div class="containerText">
        <p id="tittle">{{title}}</p>
        <p id="description">{{description}}</p>
    </div>
    <div class="containerButtonsCount">
        <div class="buttonMinum">
            <app-button-plus-minum (click)="removePerson()"></app-button-plus-minum>
        </div>
        <p>{{personCounter}}</p>
        <div class="buttonMore">
            <app-button-plus-more (click)="addPerson()"></app-button-plus-more>
        </div>
    </div>
</div>