.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-direction: column;
    margin-top: 45px;
}

.emptyState{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyState #ono{
    font-weight: bold;
    font-size: 76px;
    color: #8D8D8D;
}

.emptyState #noTienesClientes{
    font-size: 36px;
    color: #8D8D8D;
    font-weight: 500;
}

.emptyState img{
    width: 300px;
}

.imgFondo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: min-content;
}

.imgFondo img{
    width: 70%;
    height: 70%;
}