.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    flex-direction: column;
    margin-top: 45px;
    margin-bottom: 70px;
}

.emptyState{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptyState #ono{
    font-weight: bold;
    font-size: 76px;
    color: #8D8D8D;
}

.emptyState #noTienesClientes{
    font-size: 36px;
    color: #8D8D8D;
    font-weight: 500;
}

.emptyState img{
    width: 300px;
}

.imgFondo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: min-content;
}

.imgFondo img{
    width: 70%;
    height: 70%;
}

.containerReserves{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    gap: 64px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.linetitle{
    width: 100px;
    border: 1px solid #418e6d;
    margin-left: 10px;
    margin-right: 10px;
}

#titleplanes{
    margin-top: 64px;
}