.containerImgView{
    width: min-content;
    position: relative;
}

.containerImgView{
    width: 400px;
    height: 430px;
}

.containerImgView img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.icon{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}
@media (min-width: 921px) and (max-width: 1279px) {
    .containerImgView{
        width: 100%;
    }
    }
@media (min-width: 352px) and (max-width: 480px) {
.containerImgView{
    width: 100%;
}
}