<form class="registerForm">
    <div class="containerForm">
        <div class="left">
            <div class="containerCamp">
                <label>Nombres</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu nombre"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Edad</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu edad"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Direccion</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu direccion"></app-login-register-input>
            </div>
        </div>
        <div class="center">
            <div class="containerCamp">
                <label>Apellidos</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu nombre"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Telefono</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu telefono"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Documento</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu documento"></app-login-register-input>
            </div>
        </div>
        <div class="right">
            <div class="containerCamp">
                <label>Email</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu email"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Confirmar contraseña</label>
                <app-login-register-input width="250px" placeholder="Ingresa nuevamente tu contraseña"></app-login-register-input>
            </div>
            <div class="containerCamp">
                <label>Contraseña</label>
                <app-login-register-input width="250px" placeholder="Ingresa tu contraseña"></app-login-register-input>
            </div>
        </div>
    </div>
</form>