.profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}

app-profile-img{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}