<div class="login">
    <div class="leftPart">
        <h1>Bienvenidos</h1>
        <div class="containerLogo">
            <img src="../../../assets/images/logo.png" alt="">
        </div>
        <div class="containerText1">
            <div class="containerP">
                <p>Inicia sesión</p>
            </div>
        </div>
        <div class="form">
            <app-form-login></app-form-login>
        </div>
        <div class="forgot">
            <div class="containerForgot">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <p>No tienes una cuenta?<span><a href="#">Crea una aquí</a></span></p>
            </div>
        </div>
        <div class="loginMethod">
            <app-login-with></app-login-with>
        </div>
        <div class="containerBtn">
            <app-button label="Ingresar"></app-button>
        </div>
    </div>
    <div class="rightPart">
        <app-img-login></app-img-login>
    </div>
</div>