.containerMiga{
    width: max-content;
}

#miga{
    display: flex;
    padding: 25px 0px 0px 100px;
    width: min-content;
}

.primera{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.containerIzq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#qualify{
    margin-top: 25px;
    padding-right: 35px;
}

#bordeImg{
    border-right: 1px solid #BEBEBE;
    padding-right: 35px;
}

.containerDer{
    display: flex;
    flex-direction: column;
}

.containerText{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 60px;
}

#tittle{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 10px;
}

#info{
    width: 600px;
}

.pricesTable{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#precios{
    margin-right: 30px;
}

#mapa{
    margin-left: 20px;
}

.title figure {
    height: 1px;
    background-color: #418E6D;
    margin: 0 10px; /* Añade un margen horizontal para separarlos del título */
}

.title {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    width: 90%;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}

.line1 {
    width: 8%;
}

.line2 {
    width: 70%;
}

.tercera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.cuarta{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.titleReserva figure{
    height: 1px;
    background-color: #418E6D;
    margin: 0 30px;
}

.titleReserva{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}

.linech{
    width: 35%;
}

.containerPersona{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.recuadroPrecio{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    margin-right: 40px;
}

#persona{
    margin-bottom: 30px;
}

.button{
    margin-left: 30px;
    margin-top: 20px;
    padding: 0;
    border: none;
}


.quinta{
    display: flex;
   justify-content: space-evenly;
   margin-bottom: 40px;
   margin-top: 100px;
}

.titlequinta{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
}

.encargado{
    padding-right: 90px;
    border-right: 1px solid black;
}

.titlecom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 60px;
}

.titlecom figure{
    border: 1px solid #418E6D;
    width: 400px;
}

.titlecom h2{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
}

#filtercomments{
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 18px;
}

.profilecomment{
    width: 64px;
    height: 64px;
    background-color: black;
    border-radius: 50px;
    margin-right: 10px;
}


.todoscomentarios{
    width: 100%;
    margin-bottom: 40px;
}

.calificacion{
    display: flex;
    justify-content: flex-start;
    margin-left: 220px;
}



.map{
    margin-left: 20px;
  }

.addressContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.addressContainer p{
    margin-top: 5px;
}

.containerChaplanito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .containerChaplanito #ono{
    font-weight: bold;
    font-size: 76px;
    color: #8D8D8D;
  }
  
  .contenedorNoTienes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .contenedorNoTienes #noTienesClientes{
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 36px;
    color: #8D8D8D;
    font-weight: 500;
    justify-content: center;
  }
  
  .containerChaplanito img{
    width: 300px;
  }
  
  .emptyState{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .commentForm{
    display: flex;
    justify-content: center;
  }

@media (min-width: 921px) and (max-width: 1279px) {
    #miga {
        padding: 10px 0px 0px 20px;
    }
    .line1{
        width: 40%;
    }
    .line2{
        width: 40%;
    }
    #bordeImg {
        padding-right: 0px;
    }
    .titlequinta {
        font-size: 16px;
    }
    .quinta{
        align-items: center;
    }
    .encargado {
        border: 0px;
        padding: 0px;
    }
    .titlecom h2{
        margin: 0px;
        width: 45%;
        text-align: center;
    }
    .titlecom figure{
        margin: 0px 16px;
        width: 20%;
    }
    .cuidado{
        padding-bottom: 10px;
    }
    .contenido {
        flex-direction: column;
    }
    .containerPersona {
        width: 100%;
        margin-left: 0px;
        padding:0 20px;
    }
    .button {
        margin-left: 0px; 
        margin-top: 0px; 
    }
    .recuadroPrecio {
        padding-left: 0px; 
        margin-right: 0px; 
    }

    .profileCommentsHeader{
        width: 95%;
        padding-bottom: 10px;
    }
    .commentInput{
        margin: 0px;
    }
    .commentheader{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin-right: 35px;
    }
    .calificacion{
        margin-left: 45px;
        margin-top: 20px;
    }
    #qualify {
         padding-right: 0px; 
    }
    .containerIzq {
        margin-left: 70px;
    }
    .containerText {
        padding-left: 20px;
         margin-left: 0px; 
         margin-top: 25px;
    }
    #info {
        width: 95%;
    }
    #precios {
        margin: 0 20px;
    }
}
@media (min-width: 769px) and (max-width: 920px) {
    #miga {
        padding: 10px 0px 0px 20px;
    }
    .line1{
        width: 40%;
    }
    .line2{
        width: 40%;
    }
    #bordeImg {
        padding-right: 0px;
    }
    .pricesTable {
        flex-direction: column;
    }
    .titlequinta {
        font-size: 16px;
    }
    .quinta{
        justify-content: center;
        align-items: center;

    }
    .encargado {
        border: 0px;
        padding: 0px;
    }
    .titlecom h2{
        margin: 0px;
        width: 45%;
        text-align: center;
    }
    .titlecom figure{
        margin: 0px 16px;
        width: 20%;
    }
    .cuidado{
        padding-bottom: 10px;
    }
    .contenido {
        flex-direction: column;
    }
    .containerPersona {
        width: 100%;
        margin-left: 0px;
        padding:0 20px;
    }
    .button {
        margin-left: 0px; 
        margin-top: 0px; 
    }
    .recuadroPrecio {
        padding-left: 0px; 
        margin-right: 0px; 
    }
    .map {
        margin-left: 0px;
    }
    .bordername{
        display: none;
    }
    .profileCommentsHeader{
        width: 95%;
        padding-bottom: 10px;
    }
    .commentInput{
        margin: 0px;
    }
    .commentheader{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin-right: 35px;
    }
    .calificacion{
        margin-left: 45px;
        margin-top: 20px;
    }
    #qualify {
        margin-top: 50px;
    }
    #info {
        width: 95%;
    }
    .containerText{
        margin-left: 50px;
    }
    #precios {
        margin-top: 50px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #miga {
        padding: 10px 0px 0px 20px;
    }
    .pricesTable {
        flex-direction: column;
    }
    .line1{
        width: 40%;
    }
    .line2{
        width: 40%;
    }
    .titlequinta {
        font-size: 16px;
    }
    .quinta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .encargado {
        border: 0px;
        padding: 0px;
    }
    .titlecom h2{
        margin: 0px;
        width: 45%;
        text-align: center;
    }
    .titlecom figure{
        margin: 0px 16px;
        width: 20%;
    }
    .cuidado{
        padding-bottom: 10px;
    }
    .contenido {
        flex-direction: column;
    }
    .containerPersona {
        width: 100%;
        margin-left: 0px;
        padding-left: 20px;
    }
    .button {
        margin-left: 0px; 
        margin-top: 0px; 
    }
    .recuadroPrecio {
        padding-left: 0px; 
        margin-right: 0px; 
    }
    .map {
        margin-left: 0px;
    }
    .bordername{
        display: none;
    }
    .profileCommentsHeader{
        width: 95%;
        padding-bottom: 10px;
    }
    .commentInput{
        margin: 0px;
    }
    .commentheader{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        margin-right: 30px;
    }
    .calificacion{
    margin-top: 20px;
     margin-left: 45px;
    }
    
    #bordeImg{
        border-right: none;
        padding-right: 1px;
    }
    #qualify {
      padding-right: 0px;
    }
    #info {
        width: 95%;
    }
    .containerText{
        margin-top: 10px;
        justify-content: center;
    }
    #precios {
        margin-right: 0px;
    }
    .primera{
        flex-direction: column;
    }
}

@media (min-width: 352px) and (max-width: 480px) {
    #miga{
        padding: 10px 0px 0px 1px;
    }
    .line1{
        width: 40%;
    }
    .line2{
        width: 40%;
    }
    .pricesTable {
        flex-direction: column;
    }
    .titlequinta {
        font-size: 16px;
    }
    .quinta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .encargado {
        border: 0px;
        padding: 0px;
    }
    .titlecom h2{
        margin: 0px;
        width: 45%;
        text-align: center;
    }
    .titlecom figure{
        margin: 0px 16px;
        width: 20%;
    }
    .cuidado{
        padding-bottom: 10px;
    }
    .contenido {
        flex-direction: column;
    }
    .containerPersona {
        width: 100%;
        margin-left: 0px;
    }
    .button {
        margin-left: 0px; 
        margin-top: 0px; 
    }
    .recuadroPrecio {
        padding-left: 0px; 
        margin-right: 0px; 
    }
    .map {
        margin-left: 0px;
    }
    .bordername{
        display: none;
    }
    .profileCommentsHeader{
        width: 95%;
        padding-bottom: 10px;
    }
    .commentInput{
        margin: 0px;
    }
    .commentheader{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    .calificacion{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .primera{
        flex-direction: column;
    }
    #bordeImg{
        border-right: none;
        padding-right: 1px;
    }
    #qualify {
      padding-right: 0px;
    }
    #info {
        width: 100%;
        font-size: 16px;
    }
    .containerText {
        margin-left: 10px;
        margin-top: 10px;
    }
    #precios {
        margin-right: 0px;
    }

    .containerChaplanito #ono{
        font-size: 36px;
       }
    
       .contenedorNoTienes #noTienesClientes{
        font-size: 16px;
       }
    
       .containerChaplanito img{
        width: 50%;
       }
}