<app-header></app-header>
<div class="containerMiga" *ngIf="chalet">
    <app-miga-de-pan id="miga"></app-miga-de-pan>
</div>
<div class="primera">
    <div class="containerIzq">
        <app-chalet-view-images id="bordeImg"></app-chalet-view-images>
        <app-card-calification id="qualify"></app-card-calification>
    </div>
    <div class="containerDer">
        <app-collage-view [images]="restOfImages"></app-collage-view>
        <div class="containerText">
            <p id="tittle">{{ chalet.nombre_chalet }}</p>
            <p id="info">{{ chalet.caracteristicas }}</p>
        </div>
    </div>
</div>
<div class="segunda">
    <div class="pricesTable">
        <app-prices-table id="precios"></app-prices-table>
        <app-map class="map"></app-map>
        <p>{{chalet.ubicacion_chalet}}</p>
    </div>
</div>
<div class="tercera">
    <div class="title"><figure class="line1"></figure><p class="section-title">Ventajas y servicios</p><figure class="line2"></figure></div>
    <div class="servicios">
        <app-service-in></app-service-in>
    </div>
</div>
<div class="cuarta">
    <div class="titleReserva"><figure class="linech"></figure><p class="section-title">Reserva e informacion</p><figure class="linech"></figure></div>
    <div class="contenido">
        <div class="containerPersona">
            <app-peopple-count-info id="persona"></app-peopple-count-info>
            <app-peopple-count-info id="persona"></app-peopple-count-info>
            <app-peopple-count-info></app-peopple-count-info>
        </div>
        <div class="recuadroPrecio">
            <app-recuadro-precio-calculo></app-recuadro-precio-calculo>
            <app-button class="button" label="Continuar con la reserva" color="#275843" routerLink="/paymentform"></app-button>
        </div>
    </div>
</div>
<app-footer></app-footer>