footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #418E6D;
    padding: 20px;
    box-sizing: border-box;
}

.first-part, .second-part {
    flex: 1;
    min-width: 300px;
}

.first-part {
    margin: 20px 0px;
    border-right: 1px solid white;
}

.first-part h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-top: 8px;
}

.first-part p {
    color: white;
    font-weight: 500;
    font-size: 12px;
    margin-left: 0;
}

.second-part {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    justify-content: center;
    padding-left: 20px;
}

.second-part h2 {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.second-part p {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Media Queries para pantallas entre 769px y 1414px */
@media (min-width: 769px) and (max-width: 1414px) {
    .second-part div {
        display: flex;
        flex-direction: column; /* Input y bot칩n en columna */
        align-items: flex-start; /* Alinea el contenido al inicio */
    }

    app-footer-input {
        margin-bottom: 10px; /* Espacio inferior entre el input y el bot칩n */
    }

    app-button {
        margin-top: 0; /* Elimina el margen superior */
    }
}

/* Media Queries para pantallas de hasta 768px */
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .first-part {
        padding-right: 0;
        margin: 0 0 20px 0;
        border-right: none;
        border-bottom: 1px solid white;
        text-align: center;
    }

    .first-part h3, .first-part p {
        margin-left: 0;
    }

    .second-part {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
    }

    .second-part h2, .second-part p {
        width: 90%;
    }
    
    .second-part div {
        display: flex;
        flex-direction: column;
    }
    
    app-button {
        margin-top: 16px;
    }
}

/* Media Queries para pantallas de hasta 480px */
@media (max-width: 480px) {
    footer {
        padding: 13px; /* Reducir padding para pantallas muy peque침as */
    }

    .first-part, .second-part {
        min-width: 90%; 
    }

    .first-part {
        justify-content: center;
        margin: 10px 0; 
        border-bottom: 1px solid white;
    }

    .first-part h3 {
        font-size: 18px; 
    }

    .first-part p {
        font-size: 10px;
    }

    .second-part h2 {
        font-size: 20px; 
    }

    .second-part p {
        font-size: 16px;
    }
    app-footer-logo{
       margin-right: 50px;
    }
    app-footer-input, app-button {
        width: 100%; /* Asegurar que el input y bot칩n ocupen todo el ancho */
    }

    app-button {
        margin-top: 10px; /* Reducir margen superior */
    }
}
