<footer>
    <div class="first-part">
        <app-footer-logo></app-footer-logo>
        <h3>Correo electronico</h3>
        <p>QuindioAdventures&#64;gmail.com |</p>
        <h3>Página web</h3>
        <p>QuindioAdventures.com |</p>
    </div>
    <div class="second-part">
        <h2>¿Quieres recibir información sobre promociones?</h2>
        <p>Ingresa tu correo electronico</p>
        <div>
            <app-footer-input></app-footer-input><app-button label="Enviar" color="#275843"></app-button>
        </div>
    </div>
</footer>
