.titlecom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

.titlecom figure{
border: 1px solid #418E6D;
width: 400px;
}

.titlecom h2{
margin-left: 20px;
margin-right: 20px;
font-weight: 500;
font-size: 18px;
}

#filtercomments{
border: none;
font-size: 16px;
font-weight: 400;
margin-left: 70px;
margin-top: 40px;
margin-bottom: 18px;
}

.profilecomment{
width: 64px;
height: 64px;
background-color: black;
border-radius: 50px;
margin-right: 10px;
}

.commentheader{
display: flex;
align-items: center;
align-self: flex-start;
width: max-content;
width: 100%;
}

.commentheader p{
font-weight: normal;
font-size: 16px;
text-align: center;
margin-right: 20px;
width: 100%;
max-width: 200px;
}

.bordername{
border: 1px solid lightgray;
height: 40px;
margin-right: 10px;
margin-left: 10px;
}
.commentInput{
margin-left: 10px;
width: 90%;
height: 40px;
border-radius: 10px;
border: 1px solid #88B8A3;
padding-left: 20px;
}

form{
width: 90%;
}

.containerform{
display: flex;
justify-content: center;
align-items: center;
}

.buttons{
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
}

#publish{
margin-right: 20px;
}

.todoscomentarios{
width: 100%;
margin-bottom: 40px;
}

.calificacion{
display: flex;
justify-content: flex-start;
margin-left: 220px;
}



.map{
margin-left: 20px;
}

.addressContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.addressContainer p{
margin-top: 5px;
}

.containerChaplanito{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.containerChaplanito #ono{
font-weight: bold;
font-size: 76px;
color: #8D8D8D;
}

.contenedorNoTienes{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}

.contenedorNoTienes #noTienesClientes{
display: flex;
text-align: center;
width: 80%;
font-size: 36px;
color: #8D8D8D;
font-weight: 500;
justify-content: center;
}

.containerChaplanito img{
width: 300px;
}

.emptyState{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}
