<div class="right-section">
    <svg id="svgImg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <defs>
            <clipPath id="clip-path" clipPathUnits="objectBoundingBox">
                <path d="M 0 0 C 0 0.3, 0.1 0.2, 0.18 0.5 C 0.25 0.8, 0.1 1.4, 1 1 L 1 0 L 0 0 Z" /> //funciona
            </clipPath> 
        </defs>
        <image id="imgPath" clip-path="url(#clip-path)" xlink:href="../../../../../assets/images/loginImg.jpg" width="100" height="100" preserveAspectRatio="xMidYMid slice"></image>
    </svg>
</div>