.right-section {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
}

#imgPath{
    width: 100;
    height: 100;
}

#svgImg{
    width: 100;
    height: 100vh;
}