.client {
    width: 300px; /* Ancho de la tarjeta */
    padding: 20px; /* Espacio interno de la tarjeta */
    margin: 20px auto; /* Espaciado automático y centrado horizontal */
    background-color: #fff; /* Color de fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto elevado */
    border: 1px solid #ddd; 
    text-align: center; /* Centrar el texto */
    transition: transform 0.3s ease; /* Efecto de transición suave */
}

.client:hover {
    transform: translateY(-5px); /* Elevar la tarjeta al hacer hover */
}

/* Agrupa el `strong` y `p` en una fila en todos los contenedores */
.client .containerNumber,
.client .containerCodigo,
.client .containerNombre,
.client .containerFecha,
.client .containerTelefono,
.client .containerPrecio {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.client .containerNumber strong,
.client .containerCodigo strong,
.client .containerNombre strong,
.client .containerFecha strong,
.client .containerTelefono strong,
.client .containerPrecio strong {
    margin-right: 5px; 
}

.client .containerNumber p,
.client .containerCodigo p,
.client .containerNombre p,
.client .containerFecha p,
.client .containerTelefono p,
.client .containerPrecio p {
    margin: 0; 
    font-size: 14px; 
    color: #333; 
}

#text8 {
    color: #e67e22;
    font-weight: bold;
}
.client.containerBtnModal {
    display: flex;
    align-items: center;
    
}

.client .containerBtnModal img {
    width:30px;
    height: 30px;
    cursor: pointer;
}
