<div class="client" (click)="openModal()">  
    <p id="text1">{{client.id}}</p>
    <p id="text2">{{client.code}}</p>
    <p id="text3">{{client.client}}</p>
    <p id="text4">{{client.date}}</p>
    <p id="text5">{{client.adress}}</p>
    <p id="text6">{{client.email}}</p>
    <p id="text7">{{client.phone}}</p>
    <p id="text7">{{client.price}}</p>
</div>
<div *ngFor="let reserve of reservedata;let i = index" class="clients-container">
    <app-modal [reservedata]="reserve" *ngIf="isModalOpen" (close)="closeModal()"></app-modal>
</div>
