.client {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for long content */
    align-items: center;
    width: 1202px;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
    padding: 20px 0 20px 60px;
    cursor: pointer;
}

.client p {
    flex: 1;
    margin: 0 10px; 

}
