.search-input {
    border: 1px solid rgba(0, 0, 0, 0.300);
    padding: 0 0 0 20px;
    width: 312px; 
    height: 40px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  input:focus-visible{
    outline: 1px solid #418E6D;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .search-input{
      width: 100%;
      font-size: 12px;
    }
}

@media (min-width: 352px) and (max-width: 480px) {
  .search-input{
    width: 100%;
    font-size: 10px;
  }
}
