<div class="containerCountClient">
    <div class="containerIcon">
        <img id="imgIcon" src="../../../../../assets/icons/habitacion.png" alt="">
    </div>
    <div class="containerText">
        <p id="tittle">Tipo de habitación</p>
        <p id="description">Escoge el tipo de habitación que mas se acomode a ti o a tus compañeros</p>
    </div>
    <div class="containerButtonsCount">
       <div>
            <span><img class="arrow1" src="../../../../../assets/icons/flecha-izquierda.png" alt=""><p>Habitación sencilla</p><img class="arrow2" src=".././../../../../assets/icons/flecha-derecha.png" alt=""></span>
       </div>
    </div>
</div>