.dates-container {
    background-color: #D9D9D9;
    padding: 20px; 
    border-radius: 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-width: 500px; 
    margin: 0 auto;
  }
  
  .date {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .date label {
    font-size: 12px; 
    font-weight: bold; 
    color: #000000;
    margin-bottom: 10px; 
  }
  
  .date input {
    font-size: 16px;
    color: #888888;
    border: none;
    background-color: transparent;
    outline: none; 
    width: 100%;
  }
  
  .date input[type="date"] {
    font-size: 16px;
    color: #333; 
  }
  .separator {
    height: 70px;
    width: 2px;
    background-color: #000;
    margin: 0 10px;
  }
 
  
  
  