<aside class="profileAside">
    <div class="containerProfile">
        <app-profile-img width="50px" height="50px"></app-profile-img>
        <p id="userName">{{user.nombres}}</p>
    </div>
    <div class="containerBorde">
        <div id="borde"></div>
    </div>
    <div class="containerInicio" [style.backgroundColor]="colorFondo" (click)="cambiarColorFondo()">
        <img src="../../../../../assets/icons/usuario.png" alt="">
        <p>Mi cuenta</p>
    </div>
    <div class="containerBorde">
        <div id="borde2"></div>
    </div>
</aside>    