.profileAside{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.containerProfile{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 85px;
    border-radius: 15px;
    width: 88%;
    margin-top: 30px;
}

.containerProfile p{
    margin-left: 16px;
}

.containerBorde{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
}

.containerInicio{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 90px;
    border-radius: 15px;
    width: 88%;
    margin-top: 20px;
    cursor: pointer;
}

.containerInicio:active{
    background-color: #D1E1D8;
}

.containerInicio img{
    width: 40px;
    height: 40px;
}

.containerInicio p{
    margin-left: 16px;
}

#borde{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    border-bottom: 1px solid #418E6D;
    width: 92%;
}

#borde2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: 20px;
    border-bottom: 1px solid #418E6D;
    width: 92%;
}