<div class="comment">
    <div class="headercomment">
        <img src="../../../../../assets/images/erling-haaland 1.png" alt="">
        <div>
            <p class="name">Haaland Estrada</p>
        </div>
        <figure></figure>
        <p class="date">24/06/08</p>
    </div>
    <div class="commentbox">
        <p>Excelentes habitaciones, servicios y comida deliciosa, recomanddado para psasr unas buenas vacaciones en familia</p>
        <div class="bordercomment"></div>
        <div class="calification">
            <app-calification-card></app-calification-card>
            <p>1:00 p.m</p>
        </div>
    </div>
</div>
