<div class="comment">
    <div class="headercomment">
        <img [src]="comment.image" alt="">
        <div>
            <p class="name">{{comment.nombres}} {{comment.apellidos}}</p>
        </div>
        <figure></figure>
        <p class="date">{{comment.fechaCreacion}}</p>
    </div>
    <div class="commentbox">
        <p>{{comment.opinion}}</p>
        <div class="bordercomment"></div>
        <div class="calification">
            <app-calification-card></app-calification-card>
            <p>{{comment.hora}}</p>
        </div>
    </div>
</div>
