<div class="reserves">
  <div class="table">
    <h2>Reservas</h2>
    <div class="reserves-table">
		<div class="containerTitle1">
			<p id="title1">Estado</p>
		</div>
		<div class="containerTitle2">
			<p id="title2">Tipo</p>
		</div>
		<div class="containerTitle3">
			<p id="title3">Dirección</p>
		</div>
		<div class="containerTitle4">
			<p id="title4">Teléfono</p>
		</div>
		<div class="containerTitle5">
			<p id="title5">Check-in</p>
		</div>
		<div class="containerTitle6">
			<p id="title6">Check-out</p>
		</div>
		<div class="containerTitle7">
			<p id="title7">Monto</p>
		</div>
		<div class="containerTitle8">
			<p id="title8">Detalles</p>
		</div>
    </div>
    <div *ngFor="let reserve of reserves; let i = index" class="reserves-container">
      <app-scoped-reserve [reserve]="reserve"></app-scoped-reserve>
    </div>
  </div>
</div>