<app-profile-header></app-profile-header>
<div class="profile">
	<aside class="profileAside">
		<div class="containerProfile">
			<app-profile-img width="50px" height="50px"></app-profile-img>
			<p id="userName">{{user.nombres}}</p>
		</div>
		<div class="containerBorde">
			<div id="borde"></div>
		</div>
		<div class="containerInicio">
			<img src="../../../../../assets/icons/usuario.png" alt="">
			<p>Mi cuenta</p>
		</div>
		<div class="containerBorde">
			<div id="borde2"></div>
		</div>
		<div class="containerInicio">
			<img src="../../../../../assets/icons/verano.png" alt="">
			<p>Mis planes vacacionales</p>
		</div>
		<div class="containerBorde">
			<div id="borde2"></div>
		</div>
		<div class="containerInicio">
			<img src="../../../../../assets/icons/alojamiento.png" alt="">
			<p>Mis chalets</p>
		</div>
		<div class="containerBorde">
			<div id="borde2"></div>
		</div>
		<div class="containerInicio">
			<img src="../../../../../assets/icons/chats.png" alt="">
			<p>Mis chats</p>
		</div>
		<div class="containerBorde">
			<div id="borde2"></div>
		</div>
		<div class="logOut">
			<button><img src="../../../../../assets/icons/salida-de-emergencia.png" alt="">Cerrar sesion</button>
		</div>
	</aside>
	<div class="infoProfile">
		<div class="leftPart">
			<div class="containerTitle">
				<h3>Detalles del perfil</h3>
			</div>
			<div class="containerFormLeft">
				<div class="containerInfo">
					<label>Nombre</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.nombres}}">
				</div>
				<div class="containerInfo">
					<label>Apellido</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.apellidos}}">
				</div>
				<div class="containerInfo">
					<label>Edad</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.edad}}">
				</div>
				<div class="containerInfo">
					<label>Telefono</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.telefono}}">
				</div>
				<div class="containerInfo">
					<label>Direccion</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.direccion}}">
				</div>
			</div>
			<div class="containerBtnLeft">
				<app-button label="Editar datos" (click)="habilitarInput()"></app-button>
			</div>
		</div>
		<div class="rightPart">
			<div class="containerImgProfile">
				<img src="{{user.image}}" alt="">
			</div>
			<div class="containerFormRight">
				<div class="containerInfo">
					<label>Correo</label>
					<input type="text" [disabled]="isInputDisabled" value="{{user.email}}">
				</div>
				<div class="containerInfo">
					<label>Contraseña</label>
					<input type="password" [disabled]="isInputDisabled" value="{{user.password}}">
				</div>
			</div>
			<div class="containerButton">
				<app-button label="Cambiar contraseña" routerLink="/cambiar-contraseña"></app-button>
			</div>
		</div>
	</div>
</div> 
