<div>
    <div class="cuidado">
        <img src="../../../../../assets/icons/boton-de-exclamacion.png" alt="">
        <p>Ten en cuenta que no debes realizar pagos por otros medios que no sean nuestras metodologias de pago</p>
    </div>
    <div id="borde"></div>
    <div class="chatear">
        <img class="imagechat" src="../../../../../assets/icons/whatsapp.png" alt="">
        <img class="imagechat" src="../../../../../assets/icons/telefono.png" alt="">
        <app-button label="Ir al chat" color="#275843"></app-button>
    </div>
</div>