.cuidado img{
    width: 35px;
    height: 35px;
    margin-right: 25px;
}

.cuidado{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.cuidado p{
    width: 232px;
    font-weight: normal;
    font-size: 20px;
    
}

#borde{
    border-bottom: 1px solid black;
    margin-left: 30px;
}

.imagechat{
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.chatear{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
@media (min-width: 769px) and (max-width: 920px) {
    .cuidado{
        margin-top: 50px;
        padding-bottom: 6px;
        margin-left: 20px;
    }
    .cuidado img {
        margin-top: 16px;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .cuidado{
        margin-top: 16px;
        padding-bottom: 6px;
    }
    .cuidado img {
        margin-top: 16px;
        margin-right: 16px;
    }
    .cuidado p{
        font-size: 16px;
    }
}
@media (min-width: 352px) and (max-width: 480px) {
    .cuidado{
        padding-bottom: 10px;
    }
    .cuidado img {
        margin-top: 16px;
        margin-right: 16px;
    }
    .cuidado p{
        font-size: 14px;
    }
}