<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <button (click)="closeModal()"><img class="iconClose"  src="../../../../../assets/icons/x.svg"></button>
      </div>
      <div class="modal-content">
        <div class="detailsReserv">
          <strong>Detalles de la reserva</strong>
        </div>
      <div class="organization">
        
      </div>
      <div class="information">
        <div class="customer-info">
            <div class="info1">
                <p><strong>Codigo:</strong> {{reserve.id_reserva}}</p>
                <p><strong>Fecha:</strong> {{reserve.fecha}}</p>
            </div>
            <div class="info2">
                <p><strong>Tipo:</strong>Chalet</p>
                <p><strong>Teléfono:</strong> {{reserve.telefono}}</p>
                <p><strong>Monto:</strong> {{reserve.precioFinal}}</p>
            </div>
          <p><strong>Email:</strong> {{reserve.email_usuario}}</p>
          <p><strong>Dirección:</strong> {{reserve.direccion}}</p>
        </div>
      </div>
      <div class="button-container">
        <app-button label="Contactar vendedor" click="contactSeller()" class="buttonContact"></app-button> 
        <app-button *ngIf="reserve.estado === 0" label="Activar reserva" click="activarReserva()" color="green" (click)="openWarningAlert2()"></app-button>
        <app-messages-succesful title="Se reactivo de manera exitosa" *ngIf="isUpdateSuccessAlertOpen2" (close)="closeUpdateSuccessAlert2()"></app-messages-succesful>
        <app-messages-error title="¡Hubo un problema!" paragraph="No se pudo cancelar la reserva" *ngIf="isErrorAlertOpen2" (close)="closeErrorAlert2()"></app-messages-error>
        <app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de cancelar esta reserva?" *ngIf="isWarningAlertOpen2" (confirm)="onConfirmModal2()" (close)="closeWarningAlert2()"></app-messages-warning>

        <app-button *ngIf="reserve.estado === 1" label="Cancelar reserva" click="cancelarReserva()" color="red" (click)="openWarningAlert()"></app-button> 
        <app-messages-succesful title="Se cancelo de manera exitosa" *ngIf="isUpdateSuccessAlertOpen" (close)="closeUpdateSuccessAlert()"></app-messages-succesful>
					<app-messages-error title="¡Hubo un problema!" paragraph="No se pudo cancelar la reserva" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
					<app-messages-warning title="¡No tan rápido!" paragraph="¿Estás seguro de cancelar esta reserva?" *ngIf="isWarningAlertOpen" (confirm)="onConfirmModal()" (close)="closeWarningAlert()"></app-messages-warning>
      </div> 
      </div>
  </div>
  <app-modal-update *ngIf="isModalUpdateOpen" (close)="closeModal()"></app-modal-update>