<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <button (click)="closeModal()"><img class="iconClose"  src="../../../../../assets/icons/x.svg"></button>
      </div>
      <div class="modal-content">
        <h2 class="title">Enviar correo para cambio de contraseña</h2>
        <form>
            <label for="email">Correo</label>
            <input type="email" placeholder="Ingresa tu correo">
            <app-button class="button" type="submit" label="Enviar"></app-button>
        </form>
      </div>
  </div>