<div class="admin">
    <aside>
        <div class="left">
            <figure>
                <app-logo></app-logo>
            </figure>
            <nav>
                <div routerLink="/inicio" id="inicio" class="link">
                    <img src="../../../../../assets/icons/home 1.png" alt="">
                    <p>Inicio</p>
                </div>
                <div routerLink="/chalets" class="link">
                    <img src="../../../../../assets/icons/image101.png" alt="">
                    <p>Chalets</p>
                </div>
                <div routerLink="/planes" class="link">
                    <img src="../../../../../assets/icons/image103.png" alt="">
                    <p>Planes</p>
                </div>
                <div routerLink="users" class="link">
                    <img src="../../../../../assets/icons/usuario (1).png" alt="">
                    <p>Usuarios</p>
                </div>
            </nav>
            <div class="logOut">
                <button routerLink="/" (click)="authService.logout()"><img src="../../../assets/icons/out.svg" alt="">Cerrar sesion</button>
            </div>
        </div>
    </aside>
</div>