button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #418E6D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

button:hover {
    background-color: #2D6E54;
}

button:disabled {
    background-color: #A5C3B6;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

button:disabled:active {
    background-color: #A5C3B6;
    box-shadow: none;
}

button:active {
    background-color: #245844;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

button:focus-visible {
    outline: 2px solid #1E4433;
}

button img.btnIcon {
    margin-right: 8px;
}

.buttonAdd{
    margin: 20px 118px;
}
.card {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.containerChaplanito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .containerChaplanito #ono{
    font-weight: bold;
    font-size: 76px;
    color: #8D8D8D;
  }
  
  .contenedorNoTienes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .contenedorNoTienes #noTienesClientes{
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 36px;
    color: #8D8D8D;
    font-weight: 500;
    justify-content: center;
  }
  
  .containerChaplanito img{
    width: 300px;
  }
  
  .emptyState{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }