<app-nav-logueado></app-nav-logueado>
<app-profile-welcome></app-profile-welcome>
<div class="buttonAdd">
    <button 
      class="btnGeneral"
      (click)="handleClick()"
      [disabled]="estaDeshabilidato"
      routerLink="/create-chalet">
      <img src="../../../../../assets/icons/add.svg" alt="Add" class="btnIcon">
      <span>Añadir chalet</span>
    </button>
  </div>
  <div class="containerCards">
    <app-card-chalet class="card" *ngFor="let chalet of chalets; let i = index" [chalet]="chalet"></app-card-chalet>
  </div>
  <div class="emptyState" *ngIf="chalets.length<=0">
    <div class="containerChaplanito">
        <p id="ono">¡Vaya!</p>
        <img src="../../../../../assets/images/chaplanitoreservas.jpeg" alt="">
        <div class="contenedorNoTienes">
            <p id="noTienesClientes">Parece que aún no has creado chalets</p>
        </div>
    </div>
    <app-messages-error title="¡Hubo un problema!" paragraph="No logramos cargar tus chalets" *ngIf="isErrorAlertOpen" (close)="closeErrorAlert()"></app-messages-error>
</div>

