
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Tipo de habitación</th>
                <th>Temporada alta</th>
                <th>Temporada media</th>
                <th>Temporada baja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Habitación sencilla</td>
                <td>$410000</td>
                <td>$340000</td>
                <td>$280000</td>
            </tr>
            <tr>
                <td>Habitación doble</td>
                <td>$480000</td>
                <td>$360000</td>
                <td>$295000</td>
            </tr>
            <tr>
                <td>Habitación triple</td>
                <td>$560000</td>
                <td>$390000</td>
                <td>$320000</td>
            </tr>
            <tr>
                <td>Suite VIP</td>
                <td>$680000</td>
                <td>$590000</td>
                <td>$370000</td>
            </tr>
            <tr>
                <td>Ocupación completa</td>
                <td>$1600000</td>
                <td>$1420000</td>
                <td>$1000000</td>
            </tr>
        </tbody>
    </table>
    <div class="textValue">
        <p>Valor x noche</p>
    </div>
</div>