<div class="table">
    <table>
        <thead>
            <tr>
                <th>Tipo de habitación</th>
                <th>Temporada alta</th>
                <th>Temporada media</th>
                <th>Temporada baja</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarifa of groupByHabitacion(chalet?.tarifas)">
                <td>{{ tarifa.tipo_habitacion }}</td>
                <td>{{ formatPrice(getPriceForSeason(tarifa, 'Alta')) }}</td>
                <td>{{ formatPrice(getPriceForSeason(tarifa, 'Media')) }}</td>
                <td>{{ formatPrice(getPriceForSeason(tarifa, 'Baja')) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="textValue">
        <p>Valor x noche</p>
    </div>
</div>
