<div class="alert" (click)="closeAlert()">
    <div class="modal-alert" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <button (click)="closeAlert()">
          <img class="iconClose" src="../../../../../assets/icons/x.svg" alt="Cerrar">
        </button>
      </div>
      <div class="modal-content">
        <div class="content img">
          <img class="imgAlert" src="../../../../../assets/images/sombreroAlerta.svg" alt="Alerta">
        </div>
        <div class="selection">
          <p>¡Reserva realizada con exito!</p>
        </div>
      </div>
    </div>
  </div>
  