<app-header *ngIf="!authService.estaActivo()"></app-header>
<app-header-logueado *ngIf="authService.estaActivo()"></app-header-logueado>
<app-scoped-background-menu></app-scoped-background-menu>
<section>
    <div class="containerFirstText">
        <div class="tittle1">
            <p>¡Bienvenido a tus reservas!</p>
        </div>
        <div class="containerInfo">
            <p>¡Bienvenido a nuestra seccion de gestión de reservas! En esta sección, puedes gestionar todas tus reservas de manera fácil y rápida. También puedes revisar la información detallada de cada reserva, incluyendo fechas de check-in y check-out, detalles de pago, y cualquier solicitud especial que hayas realizado.</p>
        </div>
    </div>
    <div class="containerSecond">
        <div class="containerLeft">
            <div class="containerTittleLeft">
                <p>Reservas</p>
            </div>
            <div class="textLeft">
                <p>Aqui veras todas las reservas que haz realizado en nuestro aplicativo Al seleccionar una reserva, se desplegarán todos los detalles importantes: desde el código de la reserva y las fechas de check-in y check-out, hasta el tipo de chalet, el monto de la reserva, y la información de contacto del proveedor. Además, podrás ver la dirección exacta del chalet y cualquier nota adicional que el proveedor haya agregado para tu conveniencia.</p>
            </div>
        </div>
        <div class="containerLeft">
            <div class="containerTittleLeft">
                <p>Clientes</p>
            </div>
            <div class="textLeft">
                <p>Aqui veras todas las reservas que haz realizado en nuestro aplicativo Al seleccionar una reserva, se desplegarán todos los detalles importantes: desde el código de la reserva y las fechas de check-in y check-out, hasta el tipo de chalet, el monto de la reserva, y la información de contacto del proveedor. Además, podrás ver la dirección exacta del chalet y cualquier nota adicional que el proveedor haya agregado para tu conveniencia.</p>
            </div>
        </div>
    </div>
    <div class="containerFinalText">
        <div class="textLink">
            <p>Revive tus reservas con tus <span><a routerLink="/favoritos">favoritos</a></span> o visita el catalogo de <span><a routerLink="/chalets">chalets</a></span> o <span><a routerLink="/planes-vacacionales">planes vacacionales</a></span></p>
        </div>
    </div>
</section>