<section class="principal">
    <section class="section1">
        <div class="container1">
            <h2>Antes de la reserva</h2>
            <p>El valor del paquete de tu reserva puede variar dependiendo de el dia y el pasaporte que elejiste.</p>
        </div>
        <div class="container2">
            <img class="imgChalet" src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/197556405.jpg?k=aedb485cf1745c92d66df80704fde35dad7d26d11220a848fe129bf30e59b5c9&o=&hp=1">
            <div class="reviews">
                <p>Finca Hotel La Dulcera</p>
                <app-calification-card></app-calification-card>
            </div>
        </div>
        <div class="container3">
            <div class="organization">
                <p>Valor del chalet</p><span>$120.000</span>
            </div>
          <div class="organization">
            <p>Descuento de aplicativo</p><span>$10.000</span>
          </div>
        </div>
        <div class="container4">
            <h2>Precio total de la reserva</h2>
            <div class="priceAll">
                <p>Precio total incuido el descuento por reserva en nuestro aplicativo</p>
                <span>$110.000</span>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="infopayment">
            <div class="container-info">
                <h2>Información de reserva </h2>
                <p>Completa la información necesaria para proceder con tu reserva</p>
            </div>
            <p>Paso 1 de 2</p>
        </div>
        <div class="container-form">
            <div class="field">
                <label class="documento">Documento</label>
                <app-login-register-input class="documento" placeholder="Ingresa tu documento"></app-login-register-input>
            </div>
            <div class="field">
                <label class="cantidadNinos">Cantidad de niños</label>
                <app-login-register-input class="cantidadNinos" placeholder="Ingresa la cantidad de niños"></app-login-register-input>
            </div>
            <div class="field">
                <label class="cantidadAdultos">Cantidad de adultos</label>
                <app-login-register-input class="cantidadAdultos" placeholder="Ingresa la cantidad de adultos"></app-login-register-input>
            </div>
            <div class="field">
                <label class="nombre">Nombre</label>
                <app-login-register-input class="nombre" placeholder="Ingresa tu nombre"></app-login-register-input>
            </div>
            <div class="field">
                <label class="apellido">Apellido</label>
                <app-login-register-input class="apellido" placeholder="Ingresa tu apellido"></app-login-register-input>
            </div>
            <div class="field">
                <label class="telefono">Teléfono</label>
                <app-login-register-input class="telefono" placeholder="Ingresa tu teléfono"></app-login-register-input>
            </div>
            <div class="field">
                <label class="correo">Correo</label>
                <app-login-register-input class="correo" placeholder="Ingresa tu correo"></app-login-register-input>
            </div>
            <div class="field">
                <label class="direccion">Dirección</label>
                <app-login-register-input class="direccion" placeholder="Ingresa tu dirección"></app-login-register-input>
            </div>
            <div class="field">
                <label class="fechaInicio">Fecha inicio</label>
                <app-login-register-input class="fechaInicio" placeholder="Ingresa la fecha de inicio"></app-login-register-input>
            </div>
            <div class="field">
                <label class="fechaFin">Fecha fin</label>
                <app-login-register-input class="fechaFin" placeholder="Ingresa la fecha fin"></app-login-register-input>
            </div>
        </div>
        <div class="infopayment">
            <div class="container-info">
                <h2>Información de Pago </h2>
                <p>Elige tu medio de pago y llena los datos necesarios para el mismo</p>
            </div>
            <p>Paso 2 de 2</p>
        </div>
        <div class="container-form">
            <div class="field">
                <app-button-method-payment src="../../../../../assets/images/nequi.svg"  [metodoPago]="'Nequi'" ></app-button-method-payment>
            </div>
              <div class="field">
                <app-button-method-payment src="../../../../../assets/images/daviplata.svg" [metodoPago]="'Daviplata'"></app-button-method-payment>
              </div>
              <div class="field">
                <app-button-method-payment src="../../../../../assets/images/PSE.svg" [metodoPago]="'PSE'"></app-button-method-payment>
              </div>
            <div class="field">
                <app-button-method-payment src="../../../../../assets/images/mercadopago.svg" [metodoPago]="'Mercado Pago'"></app-button-method-payment>
            </div>
            <div class="field">
                <app-button-method-payment src="../../../../../assets/images/paypal.svg" [metodoPago]="'PayPal'"></app-button-method-payment>
            </div>
            <div class="field">
                <app-button-method-payment src="../../../../../assets/images/tarjeta.svg" [metodoPago]="'Debito'"></app-button-method-payment>
            </div>
        </div>
        <div class="buttonProcedPayment">
            <app-button label="Proceder con el pago y la reserva" color="#275843" class="buttonend" (click)="openAlert()"></app-button>
          </div>
          <app-alert *ngIf="isAlertOpen" (close)="closeAlert()"></app-alert>          
    </section>
</section>