.containerService{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deTres{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.content p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 80%;
}

.content .icon{
    width: 20%;
}

@media (min-width: 769px) and (max-width: 920px) {
    .containerService{
        flex-direction: row; 
    }

    .deTres {
        flex-direction: column; /* Cambiamos de fila a columna para que sea más legible en pantallas pequeñas */
        align-items: center;
        margin: 10px 0;
    }
    
    .content {
        width: 90%; /* Ajustamos el ancho del contenido */
        margin: 10px 0;
    }
    
    .content p {
        width: 100%; /* Aseguramos que el texto ocupe el 100% del ancho disponible */
        padding-left: 5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
.containerService{
    flex-direction: row; 
}

.deTres {
    flex-direction: column; /* Cambiamos de fila a columna para que sea más legible en pantallas pequeñas */
    align-items: center;
    margin: 10px 0;
}

.content {
    width: 90%; /* Ajustamos el ancho del contenido */
    margin: 10px 0;
}

.content p {
    width: 100%; /* Aseguramos que el texto ocupe el 100% del ancho disponible */
    padding-left: 5px;
}

}

@media (min-width: 352px) and (max-width: 480px) {

    .deTres {
        flex-direction: column; /* Cambiamos de fila a columna para que sea más legible en pantallas pequeñas */
        align-items: center;
        margin: 10px 0;
    }
    
    .content {
        width: 90%; /* Ajustamos el ancho del contenido */
        margin: 10px 0;
    }
    
    .content p {
        width: 100%; /* Aseguramos que el texto ocupe el 100% del ancho disponible */
        padding-left: 5px;
    }
}