<div class="containerService">
    <div class="deTres">
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
    </div>
    <div class="deTres">
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
        <div class="content">
            <app-icon-services></app-icon-services>
            <p>acceso a coneccion wifi</p>
        </div>
    </div>
</div>