.containerService{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.deTres{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.content p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 80%;
}

.content .icon{
    width: 20%;
}


