.login {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
.leftPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 40rem;
    height: 100vh;
}

.form-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.form-header img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.containerText1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 700;
}

.containerP{
    display: flex;
    justify-content: center;
    width: 35%;
    min-width: 350px;
}

.containerText1 p{
    display: flex;
    font-size: 16px;
    border-bottom: 1px solid #418E6D;
    padding: 0 59px 0 59px;
}

.containerForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 500;
}
.containerLogo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.containerLogo img {
    max-width: 180px;
  }
#input1{
    border: 2px solid #275843;
    width: 350px;
    height: 40px; 
    border-radius: 8px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 4px;
}

#containerInput2{
    margin-top: 30px;
}

#input2{
    border: 2px solid #275843;
    width: 350px;
    height: 40px; 
    border-radius: 8px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 4px;
}

.loginMethod{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.forgot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

.containerForgot p{
    margin-top: 5px;
}

.forgot a{
    color: #418E6D;
    cursor: pointer;
}

.forgot span a{
    margin-left: 5px;
}

.loginMethod{
    margin-top: 20px;
}

.containerBtn{
    margin-top: 25px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    font-size: 16px;
}

.email{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.password{
    display: flex;
    flex-direction: column;
}

.containerCamp {
    position: relative;

    &.error {
        input {
            border-color: red;
        }

        .error-message {
            color: red;
            font-size: 12px;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
}

button {
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #418E6D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

button:hover{
    background-color: #2D6E54;
}

button:disabled{
    background-color: #A5C3B6;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

button:disabled:active {
    background-color: #A5C3B6;
    box-shadow: none;
}

button:active{
    background-color: #245844;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

button:focus-visible{
    outline: 2px solid #1E4433;
}
@media ((max-width: 480px) and (min-width: 352px)) {
    h1{
        font-size: 26px
    }
    .leftPart {
      width: 100vw; /* Ocupa todo el ancho en pantallas pequeñas */
      min-width: 0px;
    }
    .rightPart {
      display: none; /* Ocultar la parte derecha en pantallas pequeñas */
    }
    .containerLogo img {
      width: 100%; /* Reducir el tamaño de la imagen */
      height: 100%;
    }
    .containerForm{
        width: 100%;
    }
    form{
        width: 100%;
    }
    #input1, #input2 {
        width: 17rem; /* Ajustar el ancho al 80% del contenedor */
    }
    .containerForgot{
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .leftPart {
        width: 100vw; /* Ocupa todo el ancho en pantallas pequeñas */
        min-width: 0px;
      }
    .login {
      flex-direction: column;
      min-width: 0px;
    }
    .rightPart{
        display: none;
    }
    .containerLogo img {
      width: 80%;
    }
  }