

.containerNavigate{
    display: flex;
    justify-content: center;
    width: 100%;
}

.navigate{
    display: flex;
    justify-content: left;
    width: 90vw;
    margin: 50px 0 0 0;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #418e6d;
}

.navigate a{
    color: black;
    text-decoration: none;
}

.navigate a:focus{
    color: #418e6d;
}

.containerViewReserves{
    padding-right: 10px;
    border-right: 1px solid black;
}

.containerViewClients{
    padding-left: 10px;
}

.filters{
    margin: 50px 100px 0 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.filters-select{
    margin-top: 10px;
}

.selectFilter{
    display: flex;
    width: 340px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #D1E1D8;
    height: 42px;
}

.selectFilter img{
    margin:  10px 15px 10px 0;
    width: 18px;
    height: 18px;
}

.containerTextoPor {
    margin: 10px 0 10px 0;
    font-size: 14px;
    padding-right: 20px ;
}

select{
    display: flex;
    align-items: center;
    border: none;
    margin-left: 5px;
    font-size: 14px;
    background-color: #D1E1D8;
}

select:active{
    border: none
}

select:focus-visible{
    outline: none ;
}

.searchBar input{
    width: 345px;
    height: 42px;
    border-radius: 15px;
 }

#searchInput {
    background-image: url("../../../../../assets/icons/lupa.png");
    background-size: 15px 15px; 
    background-repeat: no-repeat;
    background-position: 10px center; 
    padding: 2px 40px; 
    border: 1px solid #418E6D;
    border-radius: 5px;
}

.background{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.background div img{
  
}

