<div class="containerNavigate">
    <div class="navigate">
        <div class="containerViewReserves">
            <a id="viewReserves" routerLink="/reserves-reserves" class="slider-button" [ngClass]="{'active': activeLinkIndex === 1}" (click)="setActiveButton(1)">Reservas</a>
        </div>
        <div class="containerViewClients">
            <a id="viewClients" routerLink="/reserves-clients" class="slider-button" [ngClass]="{'active': activeLinkIndex === 2}" (click)="setActiveButton(2)">Clientes</a>
        </div>
    </div>
</div>