<div class="containerNavigate">
    <div class="navigate">
        <div class="containerViewReserves">
            <a id="viewReserves" routerLink="/reserves-reserves">Reservas</a>
        </div>
        <div class="containerViewClients">
            <a id="viewClients" routerLink="/reserves-clients">Clientes</a>
        </div>
    </div>
</div>
<div class="filters">
    <div class="selectFilter">
            <img src="../../../../../assets/icons/filtrar.png" alt="">
            <p class="containerTextoPor">Ordenar por:</p>
        <div class="filters-select">
            <select name="order-by" id="order-by">
                <option value="opcion2">Fecha</option>
                <option value="opcion3">Check-in</option>
                <option value="opcion4">Check-out</option>
                <option value="opcion5">Monto-Ascendente</option>
                <option value="opcion1">Monto-Descendente</option>
            </select>
        </div>
    </div>
    <div class="searchBar">
        <input type="text" id="searchInput" placeholder="Search">
    </div>
</div>
<section class="background">
    <app-scoped-table-clients></app-scoped-table-clients>
   
     <img src="../../../../../assets/images/fondo.png" alt="background">

</section>
