<div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <button (click)="closeModal()"><img class="iconClose"  src="../../../../../assets/icons/x.svg"></button>
      </div>
      <div class="modal-content">
        <div class="detailsReserv">
          <strong>Actualización de la reserva</strong>
        </div>
      <div class="organization">
        
      </div>
      <div class="information">
        <div class="profile-pic">
          <img class="profilepicture" src="{{reserve.chaletimg}}" alt="Profile Picture">
        </div>
        <form class="customer-info">
            <div class="info1">
                <div class="infoinput">
                    <label>Código</label>
                    <input type="text" id="codigo" value="{{reserve.codigo}}">  
                </div>
                <div class="infoinput">
                    <label for="">Check-in</label>
                    <input type="date" id="checkin" value="{{reserve.checkin}}">
                </div>
                <div class="infoinput">
                    <label for="">Check-out</label>
                <input type="date" id="checkout" value="{{reserve.checkout}}">
                </div>
            </div>
            <div class="info2">
                <div class="infoinput">
                    <label for="">Tipo</label>
                    <input type="text" id="tipo" value="{{reserve.tipo}}">
                </div>
                <div class="infoinput">
                    <label for="">Teléfono</label>
                    <input type="tel" id="telefono" value="{{reserve.telefono}}">
                </div>
                <div class="infoinput">
                    <label for="">Monto</label>
                    <input type="text" id="monto" value="{{reserve.precio}}">
                </div>
                
            </div>
            <div></div>
            <div class="inputgroup">
                <label for="">Correo</label>
                <input type="email" id="correo" value="{{reserve.correo}}">
            </div>
            <div class="inputgroup">
                <label for="">Dirección</label>
                <input type="text" id="direccion" value="{{reserve.direccion}}">
            </div>
          <app-messages-warning *ngIf="isWarningAlertOpen" (close)="closeWarningAlert()"></app-messages-warning>
        </form>
      </div>
      <div class="button-container">
        <app-button label="Enviar" (click)="openWarningAlert()" class="buttonContact"></app-button> 
        <app-button label="Cancelar" click="closeModal" color="red"></app-button> 
      </div>
      </div>
  </div>