button {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #418E6D;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: #2D6E54;
}

button:disabled{
    background-color: #A5C3B6;
    color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}

button:disabled:active {
    background-color: #A5C3B6;
    box-shadow: none;
}

button:active{
    background-color: #245844;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

button:focus-visible{
    outline: 2px solid #1E4433;
}