.table{
    width: max-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    border-radius: 15px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.textValue{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
    padding-right: 12px;
}