<div class="encargadoinfo">
    <div class="encargadoimagen">
        <img src="../../../../../assets/images/erling-haaland 1.png" alt="">
        <p>Haaland Estrada</p>
    </div>
    <div class="encargadodatos">
        <div class="infor">
            <p id="number">3</p>
            <p id="textnumber">Propiedades</p>
        </div>
        <div class="infor">
            <p id="number">80</p>
            <p id="textnumber">Años de experiencia</p>
        </div>
        <div class="infor">
            <p id="number">3,5</p>
            <p id="textnumber">Promedio de calificación</p>
        </div>
    </div>
</div>