<div class="encargadoinfo">
    <div class="encargadoimagen">
        <img src="../../../../../assets/images/profile-default.webp" alt="">
        <p>Carlos Estrada Arrieta</p>
    </div>
    <div class="encargadodatos">
        <div class="infor">
            <p id="number">2</p>
            <p id="textnumber">Propiedades</p>
        </div>
        <div class="infor">
            <p id="number">2</p>
            <p id="textnumber">Años de experiencia</p>
        </div>
        <div class="infor">
            <p id="number">0</p>
            <p id="textnumber">Promedio de calificación</p>
        </div>
    </div>
</div>