<div class="slider">
    <img class="arrow" src="../../../../../assets/icons/flecha-izquierda.png" alt="">
    <img class="slider-image" src="../../../../../assets/images/slider-image.png" alt="">
    <img class="arrow" src="../../../../../assets/icons/flecha-derecha.png" alt="">
</div>
<div class="container-buttons">
    <button class="slider-button"></button>
    <button class="slider-button"></button>
    <button class="slider-button"></button>
    <button class="slider-button"></button>
</div>