<div class="slider">
  <div class="container-slider">
    <div class="container-arrow-izq" (click)="previousSlide()">
      <img class="arrow" src="../../../../../assets/icons/flecha-izquierda.png" alt="Flecha Izquierda">
    </div>
    <div class="containerSliderImg">
      <p *ngIf="activeSlideIndex === 0">¡Reserva tus vacaciones aquí!</p>
      <img 
        class="slider-image" 
        [src]="images[activeSlideIndex]" 
        alt="Imagen del Slider">
    </div>
    <div class="container-arrow-der" (click)="nextSlide()">
      <img class="arrow" src="../../../../../assets/icons/flecha-derecha.png" alt="Flecha Derecha">
    </div>
  </div>
</div>
<div class="container-buttons">
  <button 
    class="slider-button" 
    *ngFor="let image of images; let i = index"
    [ngClass]="{'active': activeSlideIndex === i}" 
    (click)="setActiveButton(i)">
  </button>
</div>
