.clientTable {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    border: 1px solid #D9D9D9;
    padding: 20px 0px 20px 60px;
    cursor: pointer;
}

.clientTable p {
    margin: 0 20px;
}
.text1{
    width: 50px;
    text-align: center;
}
.text2{
    width: 70px;
    text-align: center;
}
.text3{
    width: 100px;
    text-align: center;
}
.text4{
    width: 240px;
    text-align: center;
}

.text6{
    width: 160px;
    text-align: center;
}
.text7{
    width: 160px;
    text-align: center;
}