<div class="containerChatHeader">
	<app-profile-header></app-profile-header>
</div>
<div class="chat">
	<div class="chatContainer">
		<div class="part1">
			<div class="search-bar">
				<input type="text" placeholder="Buscar">
			</div>
			<div class="users">
				<div *ngFor="let user of users; let i = index" class="arrayContainer">
					<div class="user" [class.active]="isActive(i)" (click)="setActiveUser(i)">
						<img class="profilepic" src="assets/images/profile-default.webp" alt="profile">
						<div class="containerInfoMsg">
							<div class="userName">
								<span class="username">{{ user.nombres }}</span>
							</div>
							<div class="msgHour">
								<span class="message">El plan vacacional sería...</span>
								<span class="time">9:20 a. m.</span>
							</div>
						</div>
					</div>
					<hr *ngIf="i < users.length - 1"> <!-- Línea divisoria excepto en el último chat -->
				</div>				  
			</div>
		</div>
		<div class="chat-window">
			<div class="headerChatWindow">
				<div class="header">
					<img class="profilePicHeader" src="../../../../../assets/images/profile-default.webp" alt="profile">
					{{user?.nombres}}
				</div>
			</div>
			<div class="messages">
			  <div class="user1">
				<p>
				  Hola, buenas tardes. El plan Vacacional solo seríamos tres personas
				</p>
			  </div>
			  <div class="user2">
				<p>
				  El plan Vacacional sería por los tres 160.000
				</p>
			  </div>
			</div>
			<div class="input-bar">
			  <input type="text" placeholder="Escribe un mensaje...">
			  <button>
				<img src="../../../../../assets/icons/sendChat.svg" alt="send">
			  </button>
			</div>
		</div>
	</div>
</div>
