<div class="messages" (click)="closeAlert()">
  <div class="modal-alert" (click)="$event.stopPropagation()">
    <div class="modal-header">
    </div>
    <div class="modal-content">
      <div class="title">
        <p>{{title}}</p>
      </div>
      <div class="content img">
        <img class="imgWarning" src="../../../../../assets/images/chaplanitoAdvertencia.png" alt="Alerta">
      </div>
      <div class="message">
        <p class="paragraph">{{paragraph}}</p>
      </div> 
      <div class="buttons">
        <app-button (click)="confirmAction()" label="Confirmar" color="#275843"></app-button> <!-- Llama a confirmAction() -->
        <app-button (click)="closeAlert()" label="Rechazar" color="#BF3434"></app-button>
      </div>
    </div>
  </div>
</div>
