.containerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    padding: 7px;
    background-color: #88B8A3;
    border-radius: 10px;
}

#imgIcon{
    width: 54px;
    height: 54px;
}