<div class="messages" (click)="closeAlert()">
    <div class="modal-alert" (click)="$event.stopPropagation()">
      <div class="modal-header">
      </div>
      <div class="modal-content">
        <div class="title">
          <app-tittle-messages label="Su reserva se ha agregado exitosamente" color="#318912"></app-tittle-messages>
        </div>
        <div class="content img">
          <img class="imgExito" src="../../../../../assets/images/chaplanitoExito.png" alt="Alerta">
        </div>
      </div>
    </div>
  </div>
