header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
}

.containerFirst{
    display: flex;
    justify-content: center;
    width: 100%;
    height: min-content;
    padding-top: 35px;
}

.first-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: min-content;
}

.containerOpc{
    display: flex;
    justify-content: space-between;
    width: max-content;
    align-items: center;
}

.containerLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

.containerLinks a{
    width: max-content;
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.containerPrimero{
    margin-right: 25px;
    padding: 6px 20px;
    border-radius: 15px;
}

#primero{
    text-decoration: none;
}

.containerPrimero:hover{
    background-color: rgba(128, 128, 128, 0.200);
}

.containerSegundo{
    padding: 6px 20px;
    border-radius: 15px;
}

#segundo{
    text-decoration: none;
}

.containerMoneda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding-left: 32px;
}

.containerProfile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerProfile a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.searchBar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#chalet{
    color: #275843;
}

#plan{
    color: #275843;
}

.burger-menu{
    background-color: #418E6D;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.deployable-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25%;
    background-color: #f0f0f0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 11;
  }
  
  .deployable-menu li {
    text-align:left;
    padding: 10px;
  }
  
  .deployable-menu.show {
    transform: translateX(0);
  }

  .deployable-menu a{
    text-decoration: none;
    color: black;
  }

  .deployable-menu a:hover{
    color:#418E6D;
  }

  .deployable-menu button{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #418E6D;
    border-radius: 5px;
    font-size: 16px;
  }

@media (max-width: 1279px) and (min-width: 921px) {
    .first-part{
        min-width: 92%;
    }
    .containerOpc{
        width: 45%;
    }
    .containerLinks{
        width: 60%;
    }
    .containerMoneda{
        padding-left: 10px;
    }
    .containerPrimero{
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        width: 50%;
    }
    .containerSegundo{
        padding: 0px;
        width: 120px;
        text-align: center;
    }
    .containerProfile a{
        font-size: 14px;
        margin-right: 10px;
    }
}

@media (min-width: 769px) and (max-width: 920px) {
    #primero{
        display: none;
    }

    #segundo{
        display: none;
    }


    .containerMoneda{
        display: none;
    }
    .first-part{
        margin-bottom: 30px;
    }

    .burger-menu{
        display: block;
    }

    .nav1{
        display: none;
    }

    .containerLogo{
        display: flex;
        margin: 0%;
    }

    .containerLogo .burger-menu{
        margin-right: 20px;
    }

    .searchBar{
        width: auto;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    #primero{
        display: none;
    }

    #segundo{
        display: none;
    }

    .containerMoneda{
        display: none;
    }
    .first-part{
        margin-bottom: 30px;
        width: 100%;
    }

    .burger-menu{
        display: block;
        margin-left: 20px;
    }

    .nav1{
        display: none;
    }

    .containerLogo{
        display: flex;
    }

    .containerLogo .burger-menu{
        margin-right: 20px;
    }

    .containerProfile{
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .containerProfile a{
        margin-bottom: 15px;
        font-size: 12px;
    }
}

@media (min-width: 352px) and (max-width: 480px) {
    #primero{
        display: none;
    }

    #segundo{
        display: none;
    }

    .containerMoneda{
        display: none;
    }
    .first-part{
        margin-bottom: 30px;
        flex-direction: column;
    }

    .burger-menu{
        display: block;
    }

    .nav1{
        display: none;
    }

    .containerLogo{
        display: flex;
    }

    .containerLogo .burger-menu{
        margin-right: 20px;
    }

    .containerProfile{
        display: flex;
        align-items: end;
        flex-wrap: wrap;
        
    }

    .containerProfile a{
        margin-bottom: 15px;
        font-size: 10px;
    }

    .deployable-menu a{
        font-size: 12px;
    }

    .deployable-menu{
        width: 40%;
    }

    .searchBar{
        padding-top: 0;
    }
}
