.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    margin-top: 55px;
}

.recommended-container {
    display: flex;
    justify-content: center; 
    gap: 90px;
    flex-wrap: nowrap; 
    align-items: center; 
}

.container-arrow-izq,
.container-arrow-der {
    display: flex;
    align-items: center; 
    width: 28px; 
    height: 170px; 
    margin: 20px;
}

.arrow {
    width: 28px;
    height: 24px;
    cursor: pointer;
}
