.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 55px;
}
.recommended-container{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-right: 80px;
    flex-wrap: wrap;
    margin-bottom: 76px;
 }
 .container-arrow-izq{
    width: min-content;
    padding-right: 20px;
}

.container-arrow-der{
    width: min-content;
    padding-left: 20px;
}

.arrow{
    width: 28px;
    height: 24x;
    cursor: pointer;
}