<div class="register">
    <div class="background">
        <div class="form-container">
            <div class="form-header">
                <img routerLink="/" src="../../../assets/icons/flechas-register-login-devolver.png" alt="">
            </div>
            <h1>Bienvenidos</h1>
            <img id="logo" src="../../../assets/images/logo.png" alt="">
            <div class="containerFirstText">
                <p>Registrarse</p>
            </div>
            <div class="form">
                <app-register-form></app-register-form>
            </div>
            <div class="containerTerms">
                <app-terms></app-terms>
            </div>
            <div class="containerBtn">
                <app-button label="Registrarse"></app-button>
            </div>
            <div class="txtTienes">
                <p>Ya tienes una cuenta? <a href="#">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</div>